<!--
  Generated template for the MemberintroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Become a member</ion-title>
    <ion-buttons end *ngIf="skip=='yes'">
        <button ion-button (click)="skipback()" color="primary">Skip</button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content >

  <div  id="my-node" style="padding:0;">
    <img style="margin-bottom:-3.7px" src="assets/intro/1.png"  />
    <img style="margin-bottom:-3.7px" src="assets/intro/2.png"  />
    <img style="margin-bottom:-3.7px" src="assets/intro/3.png"  />
    <img style="margin-bottom:-3.9px" src="assets/intro/4.png"  />
    <img style="margin-bottom:-3.7px" src="assets/intro/5.png"  />
    <img style="margin-bottom:-3.7px" src="assets/intro/6.png"  />
 </div>

 <img  src="assets/intro/productyouget.png" style="margin-bottom:-3.7px" />

 <ion-scroll *ngIf="loaded=='1'"  scrollX="true" #target [ngStyle]="{ 'background-image': 'url(assets/intro/entrycombo.png)', 'background-color':'rgb(192, 229, 71)' }"  style='white-space:nowrap; height: 285px;      background-position: center;
     background-repeat: no-repeat;
     background-size: cover;         '>
   <div >
 
     <ion-card style="display:inline-block; position:absolute; height:240px; box-shadow: none;  width:180px; background-color:rgba(0, 0, 0, 0); ">
 
       </ion-card>
 <div  [ngStyle]="{ 'background-color':'rgb(192, 229, 71)' }" style="display:inline-block;    margin-left:170px;"> 
      
     <ion-card *ngFor="let x of data.product;" style="display:inline-block; position:relative; margin-left:0px; width:185px;  height:250px; margin-top:15px;">
     <div style="width:490px;  float:left;"> 
         <img align="center" style="zoom:0.36; float:left; width:380px;   display: block;  margin-left: 5%;  margin-right: 3%;  height: 400px; margin-top:10px;     background-image: url('assets/placeholders/white.png');      border: 0x solid transparent;    background-position: center; background-repeat: no-repeat;  background-size: cover;"  src="{{x.image}}"  />
     
     
       </div>
         <ion-card-content>
             <ion-item style="font-size:15px;  font-weight:600; color:rgb(37, 36, 36);  margin-top:-10px !important;  float:left;">{{x.finalunit}}</ion-item>
             <p  text-wrap style=" padding-left:5%; margin-top:-15px !important;    font-weight:500;font-size:13.5px;" no-lines>     {{x.name.toString().substr(0, 46)}}<span *ngIf=" x.name.toString().length>46"> ...</span></p>
      
         </ion-card-content>
       </ion-card>
     
 </div>
       
         
   </div>

 </ion-scroll>

 <img src="assets/intro/happyfarmer.png" />

 <ion-slides #homeslider spaceBetween="10"  slidesPerView="1.3"  centeredSlides loop pager autoplay="5000" speed="1000" style="height:185px; margin-top:10px;" >
    <ion-slide> 
      <ion-card> 
        <img src="assets/intro/testi1.png" />
      </ion-card>
      </ion-slide>
    <ion-slide> 
      <ion-card> 
        <img src="assets/intro/testi1.png" />
      </ion-card>
      </ion-slide>
  
  
  </ion-slides>
  <div >
      <img  src="assets/intro/howto.png"  />
    
   </div>


  

 <br>
 <br>
 <br>
 <br>
   </ion-content>

<div #fot>
  <ion-footer  (click)="goregister()"     style="background:limegreen;color:white;display:inline-block;font-size:12px;">
    <ion-item  detail-push style="background:limegreen;color:white;" ><span style="font-size:19px;font-weight:800;margin-bottom:-8px;"><ion-icon ios="ios-basket" md="md-basket"></ion-icon>  ₹ 6500
    </span><span item-end style="font-weight:600;font-size:18px;">Proceed </span></ion-item>
    
   </ion-footer>
 
  
   </div>