<ion-content scroll="false">
  <div class="splash-bg" style="position: relative;
  background: url('assets/handloom.jpg') no-repeat transparent;
  background-size: cover;
  height: 45%;
  z-index: 1;
  background-repeat: repeat-x;
  animation: animatedBackground 40s linear infinite;
  "></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro"  *ngIf="step=='1'">
Try the magic of handloom<br>
 Today.

    </div>
    <div class="splash-intro"  *ngIf="step=='2'">
      Enter the OTP sent to your mobile
    </div>
  </div>
  <div padding  *ngIf="step=='1'">
    <input type="tel" id="fname" name="mobile number"   maxlength="10" [(ngModel)]="mobile" placeholder="Mobile Number">
    <button ion-button block  (click)="reqotp()"   [disabled]="mobile.length!=10"  >Continue</button>
  </div>
  <div padding  *ngIf="step=='2'">
    <input type="tel" id="fname" [(ngModel)]="otp"    type="tel" maxlength="4" placeholder="_ _ _ _">
    <button ion-button block  (click)="verifyotp()"   [disabled]="otp.length!=4"  >Proceed</button>
  </div>
</ion-content>


<!--
  <ion-header>
    <ion-navbar>
      <ion-title  >
        LOGIN
      </ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content padding style="background-image:linear-gradient(127deg, #384DFF 0%, #24CDFF 91%);">

        <div  *ngIf="step=='1'" style=" margin: 0 auto;  padding-top: 50px; font-size:20px; font-weight:900; color:white;"> Enter your mobile number </div>

  <div padding style="position:relative; top:10%;">
<div *ngIf="step=='1'"> 

    <ion-item >
      <ion-input  style="padding-left:20px; font-size:25px;" type="tel" maxlength="10" [(ngModel)]="mobile" placeholder="Mobile Number"></ion-input>
    </ion-item>
        <button  ion-button block outline (click)="reqotp()"   [disabled]="mobile.length!=10" color="light" style="font-weight:800; " class="login-button">GET OTP</button>
</div>
<div class="otp" *ngIf="step=='2'" >
  

 
          <p  style="font-size:18px; font-weight:600; color:white;" align="center">Enter the code that was sent to </p>  
          <p  (click)="goback()" style="font-size:20px; font-weight:600; color:white;" align="center">{{mobile}}   <ion-icon name="create"></ion-icon> </p>
          
          

    <ion-item   style="width:40%; height:70px; left:29%; "  >
      <ion-input [(ngModel)]="otp"   style="font-size:180%; padding-left:12px;"  type="tel" maxlength="4" placeholder="_ _ _ _"></ion-input>
    </ion-item>

    <button  ion-button block outline (click)="verifyotp()"   [disabled]="otp.length!=4" color="light" style="font-weight:800; " class="login-button">Verify</button>
    <button  ion-button block outline (click)="reqotp()"   color="light" style="font-weight:800; margin-top:20px;" class="login-button">Resend OTP</button>


  </div> 
   
  </div>

</ion-content>
-->

 