<ion-header>
    <ion-navbar style="text-align:center;font-size:16px;font-weight:800;">
      
        Update bank
     
    </ion-navbar>
  </ion-header>
  
  <ion-content  style="background-color:#fff;" >
    <ion-list >
  
        <ion-list-header color="head">
            KYC details 
           </ion-list-header>
          
      
          <ion-item >
            <ion-label floating>PAN</ion-label>
            <ion-input [(ngModel)]="formdata.pan"  type="text" required></ion-input>
          </ion-item>
      
          <ion-item >
            <ion-label floating>Aadhar</ion-label>
            <ion-input [(ngModel)]="formdata.aadhar"   type="text" required></ion-input>
          </ion-item>
      
          <br>
      
          <ion-list-header color="head">
            Bank details 
           </ion-list-header>
      
           
      
           
           <ion-item >
            <ion-label floating>Name In Bank</ion-label>
            <ion-input [(ngModel)]="formdata.nameinbank" type="text" required></ion-input>
          </ion-item>
           
                  <ion-item >

            <ion-label floating>Account no.</ion-label>
            <ion-input [(ngModel)]="formdata.accountnumber" type="text" required></ion-input>
          </ion-item>

          <ion-item >
            <ion-label floating>Verify account no.</ion-label>
            <ion-input [(ngModel)]="formdata.verifyaccountnumber" type="text" required></ion-input>
          </ion-item>

            <ion-item >
            <ion-label floating>Ifsc</ion-label>
            <ion-input [(ngModel)]="formdata.ifsc" (input)="checkifsc()" max type="text" required></ion-input>
          </ion-item>
          <ion-item >
              <ion-label floating>Bank</ion-label>
              <ion-input [(ngModel)]="formdata.bankname" type="text" disabled required></ion-input>
            </ion-item>
        
            <ion-item >
              <ion-label floating>Branch</ion-label>
              <ion-input [(ngModel)]="formdata.branch" type="text"  disabled required></ion-input>
            </ion-item>
        
          
      
      <br>
      
    
  
    </ion-list>
    <br>
    <br>
    <br>
    <br>
  
   
   </ion-content>
  
   <div #fot>
    <ion-footer  (click)="update()"     style="background:limegreen;color:white;display:inline-block;font-size:12px;">
      <ion-item  detail-push style="background:limegreen;color:white;" ><span style="font-size:19px;font-weight:800;margin-bottom:-8px;"><ion-icon ios="ios-basket" md="md-basket"></ion-icon>  
      </span><span item-end style="font-weight:600;font-size:18px;">Update </span></ion-item>
      
     </ion-footer>
    
     </div>