

<ion-content #container>
  <basketloader *ngIf="loaded=='0'">  </basketloader>
  <div *ngIf="loaded=='1'"> 
    <ion-list *ngIf="data.status!='noproducts'">
        <ion-item *ngFor="let y of data.product" (click)="subscription(y.pid)">
          <ion-thumbnail item-start>
            <img  [defaultImage]="'assets/placeholders/product.png'" [lazyLoad]="y.imagelow"   [offset]="100" [scrollObservable]="container.ionScroll" />

          </ion-thumbnail>
          <p style="color:black; font-weight:800;" text-wrap >{{y.name}}</p>
          <p text-wrap>₹{{y.price}} </p>
          <p style="color:black; font-weight:900;"  item-end> x {{y.count}}</p>
        </ion-item>
       
      </ion-list>

      <div *ngIf="data.status=='noproducts'">
<p ion-item no-lines  text-wrap style="color:rgb(68, 61, 61); font-size:20px; font-weight:900; text-align:center; top:30%; position:absolute;"> No Products Subscribed for {{day}} </p>
      </div>
    </div>
</ion-content>
