<ion-card (click)="gotoproductdetails(productid)" style="display:inline-block; position:relative; margin-left:0px; width:185px;  height:240px; margin-top:15px;">
    <ion-badge  *ngIf="(100-((productprice/productmrp)*100)).toFixed(0)>0" style="border-style:solid;  background-color:rgb(238, 241, 234); border-width:0.9px;  position:absolute; color:rgb(26, 185, 26); margin-top:5px; margin-left:10px;; float:left;  " color="off"> {{(100-((productprice/productmrp)*100)).toFixed(0)}}% OFF</ion-badge>
<div style="width:490px;  float:left;"> 
    <img align="center" style="zoom:0.36; float:left; width:380px;   display: block;  margin-left: 5%;  margin-right: 3%;  height: 400px; margin-top:10px;     background-image: url('assets/placeholders/white.png');      border: 0x solid transparent;    background-position: center; background-repeat: no-repeat;  background-size: cover;"  src="{{img}}"  />
    <img   *ngIf="yy" align="center" style="zoom:0.36; float:left; width:380px;   display: block;  margin-left: 5%;  margin-right: 3%;  height: 400px; margin-top:10px;"  [defaultImage]="'assets/placeholders/product.png'" [lazyLoad]="img"   [offset]="100"   [scrollTarget]="target._scrollContent.nativeElement"   />


  </div>
    <ion-card-content>
            <p  text-wrap style=" padding-left:5%; margin-top:-15px !important;    font-weight:500;font-size:13.5px;" no-lines>   {{productname.toString().substr(0, 46)}}<span *ngIf=" productname.toString().length>46"> ...</span></p>

        <ion-item style="font-size:15px;  font-weight:600; color:rgb(37, 36, 36);  margin-top:10px !important;  float:left;"> ₹{{productprice}}<del *ngIf="productprice!=productmrp" style="font-size:13px;  color:rgb(87, 74, 74);"> ₹{{productmrp}}</del></ion-item>

    
     


     
    </ion-card-content>
  </ion-card>