
<ion-content padding class="transparent-header" [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
    
    <div padding>
      <ion-row>
        <ion-col>
          <img class="logo" src="http://user.farmliferetail.com/assets/login/images/img-01.png" />
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col>
          <ion-list inset class="no-border" *ngIf="step=='login'">
            <ion-item >
              <ion-label floating>Userid</ion-label>
              <ion-input [(ngModel)]="userid" (ngModelChange)="userid = $event.toLocaleUpperCase()" type="text" style="text-transform:uppercase"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label floating>Password</ion-label>
              <ion-input [(ngModel)]="password" type="password"></ion-input>
            </ion-item>
          </ion-list>
          <ion-list inset class="no-border" *ngIf="step=='forgot'">
            <br>
            <br>
            <br>
            <br>
            
            <ion-item>
              <ion-label floating>Mobile</ion-label>
              <ion-input [(ngModel)]="mobile" type="number"></ion-input>
            </ion-item>
            
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        
       
<ion-col>
          <button *ngIf="step=='login'" ion-button class="login-button" (click)="login()">Login</button>
          <button *ngIf="step=='forgot'" ion-button class="login-button" (click)="sendpassword()">Request</button>
        </ion-col>
      </ion-row>
      <ion-row>
        
       
<ion-col>
    <ion-col>
        <span *ngIf="step=='login'" (click)="forgot()" style="font-weight:900; font-size:1.1 em">Forgot userid or password ? </span>
        <span *ngIf="step=='forgot'" (click)="back()" style="font-weight:900; font-size:1.1 em">Go to login page. </span>
      </ion-col>        </ion-col>
      </ion-row>
      <ion-row>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
          <ion-col>
              <button ion-button class="reg-button" (click)="register()">Register</button>
            </ion-col>
      </ion-row>
    </div>
  </ion-content>


