@import url('https://fonts.googleapis.com/css?family=Pacifico');
page-login {
    ion-content {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-color: transparent;
      }
      .scroll-content {
        background-image: radial-gradient(center center, ellipse cover, #ffeda3, #ffc800);
        display: flex;
        flex-direction: column;
        overflow: hidden;
      }
      .logo {
        width: 50%;
        height: auto;
        max-width: 12em;
        margin: 0 auto;
        padding-bottom: 30px;
      }
      .no-border {
        border-bottom: 0 !important;
        box-shadow: none !important;
      }
      ion-row {
        align-items: center;
        text-align: center;
      }
      @media only screen and (min-width: 768px) {
        ion-col.col {
          margin: 0 auto;
          max-width: 40%;
        }
      }
      span {
        color: white;
      }
      ion-item {
        // border-radius: 30px !important;
        padding-left: 10px !important;
        margin-bottom: 10px;
        background-color: #f6f6f6;
        opacity: 0.7;
        font-size: 0.9em;
      }
      ion-list {
        margin: 0;
      }
      .login-button {
        width: 100%;
        // border-radius: 30px;
        font-size: 1.1em;
        font-weight: 900;
        // border: 1px solid #fff;
        background-color: rgba(79, 211, 53, 0.932);
    }
      .reg-button {
          position: absolute;
          top: 95%;
          right: 25%;
        width: 50%;
        // border-radius: 30px;
        font-size: 1.1em;
        font-weight: 900;

        // border: 1px solid #fff;
        background-color: rgba(79, 211, 53, 0.932);
    }
}
