<ion-header>
  <ion-navbar style="text-align:center;font-size:16px;font-weight:800;">
    
      Registration
   
  </ion-navbar>
</ion-header>

<ion-content  style="background-color:#fff;" >

  <ion-list >
    <ion-list-header color="head">
      Personal Details
    </ion-list-header>
    
    <ion-item  >
      <ion-label floating>Name</ion-label>
      <ion-input [(ngModel)]="formdata.name" type="text" required></ion-input>
    </ion-item>
    
    <br>
 <ion-item >
      <ion-label floating>Mobile</ion-label>
      <ion-input [(ngModel)]="formdata.mobile" disabled (input)="checksponser()" type="text" required></ion-input>
    </ion-item>
    <br>


    <ion-list-header color="head">
     Address 
    </ion-list-header>
  

    <ion-item >
      <ion-label floating>Flat/House/Office No.</ion-label>
      <ion-input [(ngModel)]="formdata.line1" type="text" required></ion-input>
    </ion-item>

    <ion-item >
      <ion-label floating>Street/Society/Office name</ion-label>
      <ion-input [(ngModel)]="formdata.line2" type="text" required></ion-input>
    </ion-item>

    
    <ion-item >
      <ion-label floating>Locality</ion-label>
      <ion-input [(ngModel)]="formdata.line3" type="text" required></ion-input>
    </ion-item>

    <ion-item >
      <ion-label floating>City</ion-label>
      <ion-input [(ngModel)]="formdata.city" type="text" required></ion-input>
    </ion-item>

  

    <ion-item >
      <ion-label floating>Pincode</ion-label>
      <ion-input [(ngModel)]="formdata.pincode" type="text" required></ion-input>
    </ion-item>
    <br>
    
    <ion-list-header color="head">
      Referrer details 
     </ion-list-header>
<!--
     <ion-item >
      <ion-label floating>Sponsor id</ion-label>
      <ion-input [(ngModel)]="formdata.refid" disabled (input)="checksponser()" type="text" required></ion-input>
    </ion-item>
     <ion-item >
      <ion-label floating>Sponsor name</ion-label>
      <ion-input [(ngModel)]="formdata.refname" disabled type="text" disabled required></ion-input>
     </ion-item>

    <br>
-->
    <ion-item>
      <ion-avatar item-start>
        <img src="https://cdn0.iconfinder.com/data/icons/avatars-3/512/avatar_smart_guy-512.png">
      </ion-avatar>
      <h2>{{formdata.refname}}</h2>
      <p>{{formdata.refid}}</p>
    </ion-item>

    <br>


  </ion-list>
  <br>
  <br>
  <br>
  <br>

 
 </ion-content>

 <div #fot>
  <ion-footer  (click)="update()"     style="background:limegreen;color:white;display:inline-block;font-size:12px;">
    <ion-item  detail-push style="background:limegreen;color:white;" ><span style="font-size:19px;font-weight:800;margin-bottom:-8px;"><ion-icon ios="ios-basket" md="md-basket"></ion-icon>  
    </span><span item-end style="font-weight:600;font-size:18px;">Continue </span></ion-item>
    
   </ion-footer>
  
   </div>