<ion-card style="width: 100%; margin-left: -1px; height: 180px;">
<ion-list (click)="gotoproductdetails(productid)" > 
 
  <ion-item style="margin-bottom:-5px; margin-right:0px; "   >
    
              <ion-thumbnail item-end>
                 
          <img  style=" zoom:1.5;  width: 82px; height: 82px; " [defaultImage]="'assets/placeholders/product.png'" [lazyLoad]="img"   [offset]="100" [scrollObservable]="container.ionScroll" />
        </ion-thumbnail>
        
       
   
      
                      <!-- <button style=" width:120px; zoom:0.5; font-size:20px; font-weight:800;"  *ngIf="(100-((productprice/productmrp)*100)).toFixed(0)>0" (click)="subscription($event)" ion-button small  outline   color="dark">{{(100-((productprice/productmrp)*100)).toFixed(0)}}% OFF 
                      </button> -->
                      
                  
              
        <p text-wrap style="color:black ;  font-size: 20px; font-weight: 600; padding:0%;">  {{productname}}</p>
        <p style="font-size:15px; color:rgb(170, 118, 118); font-weight:700;  margin-left:0px; color:black; float:left;"> Rs-{{productprice}} <del *ngIf="productprice<=productmrp" style="font-size:13px;  color:rgb(145, 136, 125);">{{productmrp}}</del></p>
        <br>
       
        <div style="margin-left: -33px;">
          <ion-item>
        <button   ion-button  outline  color="dark">qty<ion-icon name="arrow-down"></ion-icon>      </button>
         <label>Qty</label>
        <ion-select  interface="popover"  [(ngModel)]="value">kjnkjk
          <div >
              <div >
          <ion-option selected="true"   value="1" >Qty:1</ion-option>
          <ion-option value="2"  >Qty:2</ion-option>
          <ion-option value="3" >Qty:3</ion-option>
          <ion-option value="4" >Qty:3</ion-option>

  
  
            </div>
            </div>
  
          </ion-select>
        </ion-item>
       </div>
       <p text-wrap style=" padding-top:10px; ">Delivery By Mon Dec 08</p>


     
   
  
      </ion-item>

      <ion-item  no-padding style="border-bottom: 0px; ">
           <div style="display: inline-flex; float: left; margin-left: 35px;">
              <ion-icon style="font-size: 20px;" name="heart-outline"  md="md-heart-outline"><span style="font-size: 14px; padding-left: 5px; font-weight: 700;font-family: -apple-system, Helvetica Neue, Roboto, sans-serif;">  Save For Later</span></ion-icon>
          </div>
          <span style="border-right: solid 1px #000; padding-left: 35px;"></span>
    
          <div style="display: inline-flex; float: right; margin-right: 60px;">
            <ion-icon style="font-size: 20px; "  name="ios-trash-outline" ><span style="font-size: 14px;padding-left: 7px; font-weight: 700; font-family: -apple-system, Helvetica Neue, Roboto, sans-serif;">Remove</span></ion-icon>
          </div> 
          <!-- <button ion-button color="secondary" style="width: 45%; padding: 4%; margin-left: 6%; padding-top: 16px;"> 
            <ion-icon style="font-size: 20px;" name="heart-outline"  md="md-heart-outline"></ion-icon><span style="font-size: 14px; padding-left: 5px; font-weight: 700;font-family: -apple-system, Helvetica Neue, Roboto, sans-serif;">  Save For Later</span></button>
          <button ion-button color="secondary" style="width: 45%; padding: 4%;padding-top: 16px;">
              <ion-icon style="font-size: 20px; "  name="ios-trash-outline" ><span style="font-size: 14px;padding-left: 7px; font-weight: 700; font-family: -apple-system, Helvetica Neue, Roboto, sans-serif;">Remove</span></ion-icon>
          </button> -->

  
                      
        </ion-item>
     
 
  </ion-list>

  
</ion-card> 