



<ion-content >
    <ion-list no-lines>
        
        <foodmenu [productid]="1" [productprice]="100"></foodmenu>
        <foodmenu [productid]="2" [productprice]="500"></foodmenu>
        <foodmenu [productid]="3" [productprice]="340"></foodmenu>
        <foodmenu [productid]="1" [productprice]="100"></foodmenu>

        <ion-list-header>
            Categories
                      </ion-list-header>
        <foodmenu [productid]="2" [productprice]="500"></foodmenu>
        <foodmenu [productid]="3" [productprice]="340"></foodmenu>
        <foodmenu [productid]="1" [productprice]="100"></foodmenu>
        <foodmenu [productid]="2" [productprice]="500"></foodmenu>

        <ion-list-header>
            Categories
                      </ion-list-header>
        <foodmenu [productid]="3" [productprice]="340"></foodmenu>
       
      </ion-list>
  
</ion-content>
<foodfooter> </foodfooter>