<!--
  Generated template for the MmproductlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>mmproductlist</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <productforlistings>
    
  </productforlistings>
</ion-content>
