<div #fot>
    <ion-footer (click)="gostorecart()"   *ngIf="food.foodcartdetails.count>=1" style="background:limegreen;color:white;display:inline-block;font-size:12px;">
      <ion-item  detail-push style="background:limegreen;color:white;" ><span style="font-size:19px;font-weight:800;margin-bottom:-8px;"><ion-icon ios="ios-basket" md="md-basket"></ion-icon> {{food.foodcartdetails.count}} &nbsp; Item &nbsp; | &nbsp; ₹{{food.foodcartdetails.price}}
      </span><span item-end style="font-weight:600;font-size:18px;">Checkout </span></ion-item>
      
     </ion-footer>
    
     </div>
    
    