<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  
  <ion-navbar color="dark">
    <ion-title>main</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >


</ion-content>
