<!--
  Generated template for the FoodcartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>foodcart</ion-title>
  </ion-navbar>

</ion-header>



  <ion-content #container>
    <basketloader *ngIf="loaded=='0'" ></basketloader>
    <div *ngIf="loaded=='1'" >

    <div  *ngFor="let x of products.records"  > 

<fooditem [productname]="x.name"   [img]="x.image"    [productid]="x.id"     [productprice]="x.price" [productmrp]="x.mrp"    [container]="container"  [itemlimit]="x.limit"    > </fooditem>

    </div>
    </div>

</ion-content>
