<!--
  Generated template for the FirstorderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Entry combo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content #container>
    <basketloader *ngIf="loaded=='0'"></basketloader>
  <div *ngIf="loaded=='1'">
    <div id="payment-div"></div>
    <ion-list-header color="head">
        Delivery Address 
            <button  (click)="navCtrl.pop()" ion-button outline item-end color="light">Change</button>
      </ion-list-header>
      <div> 
        

</div>
    


      <ion-item no-lines>
<p *ngIf="formdata.first_name" style="font-size:14px; font-weight:600;">{{formdata.first_name.toUpperCase()}},</p>
<p *ngIf="formdata.address" style="font-size:14px; font-weight:600;">{{formdata.address.toUpperCase()}},</p>
<p *ngIf="formdata.address2" style="font-size:14px; font-weight:600;">{{formdata.address2.toUpperCase()}},</p>
<p *ngIf="formdata.address3" style="font-size:14px; font-weight:600;">{{formdata.address3.toUpperCase()}}.</p>

      </ion-item> 
  
    <form (submit)="doSubmit1($event)" [formGroup]="langForm1">
        <ion-list radio-group formControlName="langs">
    <ion-list-header color="head">
      Select entry Combo
    </ion-list-header>
  
    <ion-item>
      <ion-label>Synergy</ion-label>
      <ion-radio checked="true"  (ionSelect)="ricechange()"  name="rice" value="synergy"></ion-radio>
    </ion-item>
  
    
  
    <ion-item>
      <ion-label>All is well</ion-label>
      <ion-radio value="alliswell"  (ionSelect)="ricechange()"  name="rice2" ></ion-radio>
    </ion-item>
  </ion-list>
    </form>
    <form (submit)="doSubmit($event)" [formGroup]="langForm">
        <ion-list radio-group formControlName="langs">
    <ion-list-header color="head">
      Select  combo rice type
    </ion-list-header>
  
    <ion-item>
      <ion-label>Boiled</ion-label>
      <ion-radio checked="true"  (ionSelect)="ricechange()"  name="rice" value="boiled"></ion-radio>
    </ion-item>
  
    
  
    <ion-item>
      <ion-label>Raw</ion-label>
      <ion-radio value="raw"  (ionSelect)="ricechange()"  name="rice2" ></ion-radio>
    </ion-item>
  </ion-list>
    </form>
<ng-container *ngIf="langForm1.value.langs=='synergy'"> 
    <ion-list-header style="margin-top:-15px;" color="head">
        Entry combo (3 months subscription)
      </ion-list-header>
   

      <ion-list>
          <ion-item *ngIf="langForm.value.langs=='boiled'">
            <ion-thumbnail item-start>
              <img  [defaultImage]="'assets/placeholders/product.png'" [lazyLoad]="'http://cdn.grofers.com/app/images/products/full_screen/pro_384939.jpg'"   [offset]="100" [scrollObservable]="container.ionScroll" />

            </ion-thumbnail>
            <p text-wrap >Boiled rice</p>
            <p text-wrap >வேகவைத்த அரிசி </p>
            <p item-end> 10 kg</p>

          </ion-item>
          <ion-item *ngIf="langForm.value.langs=='raw'">
            <ion-thumbnail item-start>
              <img  [defaultImage]="'assets/placeholders/product.png'" [lazyLoad]="'http://cdn.grofers.com/app/images/products/full_screen/pro_384939.jpg'"   [offset]="100" [scrollObservable]="container.ionScroll" />

            </ion-thumbnail>
            <p text-wrap >Raw rice</p>
            <p text-wrap >பச்சரிசி</p>
            <p item-end> 10 kg</p>

          </ion-item>
          <ion-item >
            <ion-thumbnail item-start>
              <img  [defaultImage]="'assets/placeholders/product.png'" [lazyLoad]="'http://cdn.grofers.com/app/images/products/full_screen/pro_389939.jpg'"   [offset]="100" [scrollObservable]="container.ionScroll" />

            </ion-thumbnail>
            <p text-wrap >Toor dal</p>
            <p text-wrap >துவரம் பருப்பு</p>
            <p item-end> 2 kg</p>

          </ion-item>
          

          <ion-item >
            <ion-thumbnail item-start>
              <img  [defaultImage]="'assets/placeholders/product.png'" [lazyLoad]="'http://cdn.grofers.com/app/images/products/full_screen/pro_375919.jpg'"   [offset]="100" [scrollObservable]="container.ionScroll" />

            </ion-thumbnail>
            <p text-wrap >Bengal gram </p>
            <p text-wrap >கடலைப் பருப்பு</p>
            <p item-end> 1 kg</p>

          </ion-item>

          <ion-item >
            <ion-thumbnail item-start>
              <img  [defaultImage]="'assets/placeholders/product.png'" [lazyLoad]="'http://cdn.grofers.com/app/images/products/normal/pro_11299.jpg'"   [offset]="100" [scrollObservable]="container.ionScroll" />

            </ion-thumbnail>
            <p text-wrap >Groundnut oil </p>
            <p text-wrap >கடலை எண்ணெய்</p>
            <p item-end> 2 Ltr</p>

          </ion-item>

          <ion-item >
            <ion-thumbnail item-start>
              <img  [defaultImage]="'assets/placeholders/product.png'" [lazyLoad]="'http://cdn.grofers.com/app/images/products/normal/pro_11299.jpg'"   [offset]="100" [scrollObservable]="container.ionScroll" />

            </ion-thumbnail>
            <p text-wrap >Gingelly oil </p>
            <p text-wrap >நல்லெண்ணை</p>
            <p item-end> 1 Ltr</p>

          </ion-item>
          
        </ion-list>
      </ng-container>
<ng-container *ngIf="langForm1.value.langs=='alliswell'"> 
    <ion-list-header style="margin-top:-15px;" color="head">
        Entry combo (3 months subscription)
      </ion-list-header>
   

      <ion-list>
          <ion-item *ngIf="langForm.value.langs=='boiled'">
            <ion-thumbnail item-start>
              <img  [defaultImage]="'assets/placeholders/product.png'" [lazyLoad]="'http://cdn.grofers.com/app/images/products/full_screen/pro_384939.jpg'"   [offset]="100" [scrollObservable]="container.ionScroll" />

            </ion-thumbnail>
            <p text-wrap >Boiled rice</p>
            <p text-wrap >வேகவைத்த அரிசி </p>
            <p item-end> 10 kg</p>

          </ion-item>
          <ion-item *ngIf="langForm.value.langs=='raw'">
            <ion-thumbnail item-start>
              <img  [defaultImage]="'assets/placeholders/product.png'" [lazyLoad]="'http://cdn.grofers.com/app/images/products/full_screen/pro_384939.jpg'"   [offset]="100" [scrollObservable]="container.ionScroll" />

            </ion-thumbnail>
            <p text-wrap >Raw rice</p>
            <p text-wrap >பச்சரிசி</p>
            <p item-end> 10 kg</p>

          </ion-item>

          <ion-item >
            <ion-thumbnail item-start>
              <img  [defaultImage]="'assets/placeholders/product.png'" [lazyLoad]="'http://cdn.grofers.com/app/images/products/normal/pro_11299.jpg'"   [offset]="100" [scrollObservable]="container.ionScroll" />

            </ion-thumbnail>
            <p text-wrap >Groundnut oil </p>
            <p text-wrap >கடலை எண்ணெய்</p>
            <p item-end> 2 Ltr</p>

          </ion-item>

          <ion-item >
            <ion-thumbnail item-start>
              <img  [defaultImage]="'assets/placeholders/product.png'" [lazyLoad]="'http://cdn.grofers.com/app/images/products/normal/pro_11299.jpg'"   [offset]="100" [scrollObservable]="container.ionScroll" />

            </ion-thumbnail>
            <p text-wrap >Gingelly oil </p>
            <p text-wrap >நல்லெண்ணை</p>
            <p item-end> 1 Ltr</p>

          </ion-item>
          
          <ion-item >
            <ion-thumbnail item-start>
              <img  [defaultImage]="'assets/placeholders/product.png'" [lazyLoad]="'http://cdn.grofers.com/app/images/products/full_screen/pro_389939.jpg'"   [offset]="100" [scrollObservable]="container.ionScroll" />

            </ion-thumbnail>
            <p text-wrap >Toor dal</p>
            <p text-wrap >துவரம் பருப்பு</p>
            <p item-end> 2 kg</p>

          </ion-item>
          

          <ion-item >
            <ion-thumbnail item-start>
              <img  [defaultImage]="'assets/placeholders/product.png'" [lazyLoad]="'http://cdn.grofers.com/app/images/products/full_screen/pro_375919.jpg'"   [offset]="100" [scrollObservable]="container.ionScroll" />

            </ion-thumbnail>
            <p text-wrap >Bengal gram </p>
            <p text-wrap >கடலைப் பருப்பு</p>
            <p item-end> 1 kg</p>

          </ion-item>

         
          
        </ion-list>
      </ng-container>
<br>
<br>
      </div>

</ion-content>
<div #fot *ngIf="loaded=='1'">
  <ion-footer  (click)="pay()"     style="background:limegreen;color:white;display:inline-block;font-size:12px;">
    <ion-item  detail-push style="background:limegreen;color:white;" ><span style="font-size:19px;font-weight:800;margin-bottom:-8px;"><ion-icon ios="ios-basket" md="md-basket"></ion-icon>  &nbsp; ₹{{amount}}
    </span><span item-end style="font-weight:600;font-size:18px;">Pay Now </span></ion-item>
    
   </ion-footer>
  
   </div>