<!--
  Generated template for the FoodPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Food</ion-title>
    <ion-buttons end>
        <ion-toggle *ngIf="foodtype=='veg'" [(ngModel)]="foodtypetoogle" (ionChange)="updatetoall()"></ion-toggle>
        <ion-toggle *ngIf="foodtype=='all'" [(ngModel)]="foodtypetoogle" (ionChange)="updatetoveg()"></ion-toggle> 
      <span style="font-weight:700; color:black;">Veg only </span> 
</ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content >
<panloader *ngIf="loaded=='0'"> </panloader>
<div *ngIf="loaded=='1'" > 
    <ion-slides #homeslider spaceBetween="12"  slidesPerView="1.2"  centeredSlides loop pager autoplay="5000" speed="1000" style="height:155px; margin-top:20px;margin-bottom:10px;" *ngIf="loaded=='1'" >
        <ion-slide (click)="gobanner(x.type,x.offerid)"   *ngFor="let x of data.banner"  > 
            <img src="{{x.url}}"     />
          </ion-slide>
      </ion-slides>

<div  *ngFor="let x of data.menu" class="card-background-page"  > 
          <ion-card (click)="gofoodlist(x.id,x.name)">
  <img src="{{x.nvimage}}" />

    <div class="card-title">{{x.name}}</div>
          </ion-card>
</div>


</div>
</ion-content>
