page-food {
    .card-background-page {

      white-space:nowrap;
       display:inline-block;
             width: 50%;

        ion-card { 
margin-left: 10px;
margin-right: 5px;
margin-top: 0px;
padding: 0%;
          position: relative;
          text-align: center;
        
        }
      
        .card-title {
          position: absolute;
          bottom: 0%;
          font-size: 1.5em;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.637);

          font-weight: bold;
          color: #fff;
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }
      
      }
}
