<!--
  Generated template for the OrdersPage page.
 
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header *ngIf="header!='yes'">
 
  <ion-navbar>
    <ion-title>Referral Orders</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
      <basketloader *ngIf="loaded=='0'"></basketloader>

    <div *ngIf="loaded=='1'"> 
    <ion-card style="padding: 0px 0px 0px 0px;"  *ngFor="let x of data.order" (click)="goorderdetails(x.id)" >
        <ion-card-header style="padding: 0% 0% 0% 3%;">
            <ion-item text-wrap style="padding: 0px 0px 0px 0px;">
                <p style="font-size:12px;font-weight:700;">Delivery slot: {{x.time}}</p>
               
               
              </ion-item>
         
        </ion-card-header>
        <ion-card-content >
         
            <ion-item text-wrap style="padding: 0px 0px 0px 0px;" >
            <ion-avatar item-start style="height:20px;width:20px;padding: 0px 0px 0px 0px;">
                <img src="https://www.svgrepo.com/show/57580/store.svg">
              </ion-avatar>
              <div style="font-size:12px;font-weight:700;width:100%;padding: 0px 0px 0px 0px;"> {{x.name}} - ({{x.userid}})<span style="text-align:right;">&nbsp;  &nbsp;  </span></div>
                             <p style="font-size:12px;font-weight:500;width:100%;color:lightslategray;"> Mobile:&nbsp;{{x.mobile}}</p>
                             <p style="font-size:12px;font-weight:500;width:100%;color:lightslategray;"> Order Id:&nbsp;{{x.id}}</p>

              <p style="font-size:12px;font-weight:500;width:100%;color:lightslategray;"> Amount Paid:&nbsp;₹ {{x.total}}</p>
</ion-item>
              <ol class="progress-meter" *ngIf="x.status=='dispatched'">
                  <li class="progress-point done" style="font-weight:500;">placed</li><li class="progress-point done" style="font-weight:500;">packed</li><li class="progress-point done" style="font-weight:500;">dispatched</li><li class="progress-point todo" style="font-weight:500;">delivered</li>
                </ol>
                <ol class="progress-meter" *ngIf="x.status=='packed'">
                  <li class="progress-point done" style="font-weight:500;">placed</li><li class="progress-point done" style="font-weight:500;">packed</li><li class="progress-point todo" style="font-weight:500;">dispatched</li><li class="progress-point todo" style="font-weight:500;">delivered</li>
                </ol>
                <ol class="progress-meter" *ngIf="x.status=='placed'">
                  <li class="progress-point done" style="font-weight:500;">placed</li><li class="progress-point todo" style="font-weight:500;">packed</li><li class="progress-point todo" style="font-weight:500;">dispatched</li><li class="progress-point todo" style="font-weight:500;">delivered</li>
                </ol>
                <ol class="progress-meter" *ngIf="x.status=='delivered'">
                  <li class="progress-point done" style="font-weight:500;">placed</li><li class="progress-point done" style="font-weight:500;">packed</li><li class="progress-point done" style="font-weight:500;">dispatched</li><li class="progress-point done" style="font-weight:500;">delivered</li>
                </ol>
              <ion-row >
                  <ion-col *ngIf="status!='delivered'">
                     
                      <button ion-button small  icon-left style="width:100%;font-weight:400">
                          <ion-icon ios="md-list" md="md-list"></ion-icon>
                          View
                        </button>
                  </ion-col>
                 
                 
                </ion-row>
              </ion-card-content>


             
             
      </ion-card>
      
       </div>
   
 
</ion-content>