
  <ion-content >
    <img src="assets/slide/refer.png"/> 
    <div class="splash-info">
      <div class="splash-logo"></div>
      <div class="splash-intro" >
        Enter the name and mobile number of a person to invite.
      </div>
    
    </div>
    <div padding  >
      <input type="text" id="fname" name="Name "   maxlength="20" [(ngModel)]="name" placeholder="Name" style="width:76%;"> &nbsp;
        <button (click)="pick()" style="margin-top:-7px; zoom:1.13; padding-top:9px;padding-bottom:9px; color:#ccc;  
        display: inline-block;
        border: 2px solid #ccc;"  color="grey" outline ion-button icon-only>
        <ion-icon name="contacts" color="grey"></ion-icon>
      </button>

   
      <input type="tel" id="fname" name="mobile number"   maxlength="10" [(ngModel)]="mobile" placeholder="Mobile Number">

      <button ion-button block  (click)="referfriend()"    >Invite</button>
    </div>
   
  </ion-content>
 

  <!--
  <ion-content  style="background-color:#fff;" >
  
    <ion-card>
      <img style="height:230px;"[defaultImage]="'https://cdn.dribbble.com/users/1580738/screenshots/6847093/referral.png'" [lazyLoad]="'assets/placeholders/product.png'"   [offset]="100">
      <ion-card-content>
        <ion-card-title>
          Nine Inch Nails Live
          </ion-card-title>
        <p>
          The most popular industrial group ever, and largely
          responsible for bringing the music to a mass audience.
        </p>
      </ion-card-content>
    </ion-card>


    

    <ion-list >
      <ion-list-header color="head">
        Friend Details
      </ion-list-header>
      
      <ion-item  >
        <ion-label floating>Friend name</ion-label>
        <ion-input [(ngModel)]="friendname" type="text" required></ion-input>
      </ion-item>
    
      <ion-item >
        <ion-label  floating>Friend mobile</ion-label>
        <ion-input [(ngModel)]="friendmobile" type="text" required></ion-input>
      </ion-item>
      <br>

    

      <br>
    </ion-list>
  </ion-content>
  <div #fot>
    <ion-footer  (click)="referfriend()"      style="background:limegreen;color:white;display:inline-block;font-size:12px;">
      <ion-item  detail-push style="background:limegreen;color:white;" ><span style="font-size:19px;font-weight:800;margin-bottom:-8px;"><ion-icon ios="ios-basket" md="md-basket"></ion-icon>  
      </span><span item-end style="font-weight:600;font-size:18px;">Continue </span></ion-item>
      
     </ion-footer>
    
     </div>

    -->