page-residencetype {
    .card-background-page {
  
        ion-card {
          position: relative;
          text-align: center;
        }
      
        .card-title {
          position: absolute;
          top: 0%;
          font-size: 2.5em;
          width: 100%;
          height: 100%;
         // padding-top: 10px;
          font-weight: bold;
          color: rgb(255, 255, 255);
          background-color: rgba(0, 0, 0, 0.842);
        }
      
        .text {
          font-size: 1.0em;
          position: absolute;
          top: 46%;
          width: 100%;
          color: #fff;
          right: 0%;
        }
      
      }
}
