<!--
  Generated template for the ResidencetypePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>residencetype</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div class="card-background-page">

 
      
        <ion-card (click)="golist('appartment')">
          <img src="http://www.3dpower.in/images/apartment-rendering/full/3d%20apartment%20design.jpg"/>
          <div class="card-title"><span class="text">Appartment </span> </div>
        </ion-card>
      
        <ion-card (click)="golist('college')">
            <img src="http://www.3dpower.in/images/apartment-rendering/full/3d%20apartment%20design.jpg"/>
            <div class="card-title"><span class="text"> College</span> </div>

        </ion-card>
      
      </div>
</ion-content>
