<!--
  Generated template for the FirstorderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Entry combo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content #container>
    <basketloader *ngIf="loaded=='0'"></basketloader>
  <div *ngIf="loaded=='1'">
    <div id="payment-div"></div>
    <ion-list-header color="head">
        Delivery Address 
            <button  (click)="navCtrl.pop()" ion-button outline item-end color="light">Change</button>
      </ion-list-header>
      <div> 
        

</div>
    


      <ion-item no-lines>
<p *ngIf="formdata.first_name" style="font-size:14px; font-weight:600;">{{formdata.first_name.toUpperCase()}},</p>
<p *ngIf="formdata.address" style="font-size:14px; font-weight:600;">{{formdata.address.toUpperCase()}},</p>
<p *ngIf="formdata.address2" style="font-size:14px; font-weight:600;">{{formdata.address2.toUpperCase()}},</p>
<p *ngIf="formdata.address3" style="font-size:14px; font-weight:600;">{{formdata.address3.toUpperCase()}}.</p>

   </ion-item> 
   <ion-list-header  color="head">
    
  </ion-list-header>

  
 



   </div>

</ion-content>
<div #fot *ngIf="loaded=='1'">
  <ion-footer  (click)="pay()"     style="background:limegreen;color:white;display:inline-block;font-size:12px;">
    <ion-item  detail-push style="background:limegreen;color:white;" ><span style="font-size:19px;font-weight:800;margin-bottom:-8px;"><ion-icon ios="ios-basket" md="md-basket"></ion-icon>  &nbsp; ₹500
    </span><span item-end style="font-weight:600;font-size:18px;">Pay Now </span></ion-item>
    
   </ion-footer>
  
   </div>