<!--
  Generated template for the ServicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar >
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        
        <ion-title>
         Onstep
        </ion-title>
    
        <ion-buttons end>
              
        </ion-buttons>
      </ion-navbar >

</ion-header>
 

<ion-content  style="background-color: rgb(236, 238, 236)">

<jetmanloader *ngIf="loaded=='0'"> </jetmanloader>
<div  *ngIf="loaded=='1'">
    <ion-slides spaceBetween="12"  slidesPerView="1.2"  centeredSlides loop pager autoplay="5000" speed="1000" style="height:155px; margin-top:10px;" *ngIf="loaded=='1'" >
        <ion-slide   *ngFor="let x of data.banner"  > 
            <img src="{{x.url}}" />
          </ion-slide>
        
      </ion-slides> 
 

  <ion-grid class="gridmenu" >

    <ion-row >
       <ion-col (click)="gocategory(1)" class="menu" >
          <img height="40px" src="assets/imgs/lipstick (1).svg" />

        <br>
        <p> Beauty & Salon
        </p> 
        </ion-col>
       <ion-col (click)="gocategory(2)" class="menucenter">
          <img height="40px" src="assets/imgs/air-conditioner.svg" />
        <p> Appliance Repair</p>
        </ion-col>
       <ion-col (click)="gocategory(3)" class="menu">
          <img height="40px" src="assets/imgs/settings.svg" />

        <p>Home Cleaning & Repairs</p>
        </ion-col>
    
      
     
    </ion-row>
    
    <ion-row>
       <ion-col (click)="gocategory(4)" class="menumiddle">
          <img height="40px" src="assets/imgs/transport.svg" />
        <p> Moving Homes</p>
        </ion-col>
       <ion-col (click)="gocategory(5)" class="menucentermiddle">
          <img height="40px" src="assets/imgs/exercise.svg" />
        <p> Health & Fitness</p>
        </ion-col>
       <ion-col (click)="gocategory(6)" class="menumiddle">
          <img height="40px" src="assets/imgs/paint-roller.svg" />
        <p> Painting & Renovation</p>
        </ion-col>
    
      
     
    </ion-row>
    
    <ion-row>
       <ion-col (click)="gocategory(7)" class="menu">
          <img height="40px" src="assets/imgs/lifter.svg" />
        <p>Automobile Repairs</p>
        </ion-col>
       <ion-col (click)="gocategory(8)" class="menucenter">
          <img height="40px" src="assets/imgs/dry.svg" />
        <p> Laundry </p>
        </ion-col>
       <ion-col (click)="gocategory(9)" class="menu">
          <img height="40px" src="assets/imgs/world.svg" />
        <p> Tours & Travels</p>
        </ion-col>
    
      
     
    </ion-row>
    
    <ion-row>
       <ion-col (click)="gocategory(10)" class="menu">
          <img height="40px" src="assets/imgs/wedding.svg" />
        <p>Weddings & Events</p>
        </ion-col>
       <ion-col (click)="gocategory(11)" class="menucenter">
          <img height="40px" src="assets/imgs/teacher.svg" />
        <p> Tutors & Lessons</p>
        </ion-col>
       <ion-col (click)="gocategory(12)" class="menu">
          <img height="40px" src="assets/imgs/businessman.svg" />
        <p> Business</p>
        </ion-col>
    
      
     
    </ion-row>
    
       
  
  </ion-grid>
</div>
</ion-content>
