page-services {

     $bgcolor: rgb(252, 252, 253);
     $bordercolor: rgb(216, 229, 230);
    .gridmenu{
        margin-top: 20px;
        font-size: 12px;
        font-weight: 500;
    
    .menu{
        padding-top: 15px;
        background-color:  $bgcolor;
        border-style: solid;
        border-width: 1px;
        text-align: center;
        border-color:      $bordercolor;

    }
    .menumiddle{
        padding-top: 15px;

        background-color:  $bgcolor;
        border-style: solid;
        border-width: 0px 1px 0px 1px;
        text-align: center;
        border-color:      $bordercolor;

    }
    .menucenter{
        padding-top: 15px;

        background-color:  $bgcolor;
        border-style: solid;
        border-width: 1px 0px 1px 0px;
        border-color:       $bordercolor;
        text-align: center;

    }
   
    .menucentermiddle{
        padding-top: 15px;

        background-color:  $bgcolor;
        border-style: solid;
        border-width: 0px 0px 0px 0px;
        border-color:      $bordercolor;
        text-align: center;

    }
}
   
}
