<!-- Generated template for the MmproductlistComponent component -->
<div>
  <!-- <div >
    <ion-card class="categorytwo" *ngFor="let arr of category"  (click)="subcategory()" style="margin-bottom: 6%; height: 200px; background-size: cover; "  [ngStyle]="{ 'background-image': 'url(' + arr.imagetwo + ')'} ">
         <p style=" position: absolute; margin-top: 65%; margin-left: 5%; color: #fff; font-size: 17px; font-weight: 600;">{{arr.price}}</p>
         <p style=" position: absolute; margin-top: 75%; margin-left: 5%; color: #fff; font-size: 17px; font-weight: 600;">{{arr.nameone}}</p>
    </ion-card>

</div> -->

<div >
  <ion-card class="categorythree" *ngFor="let arr of category"  (click)="subcategory()" >
        
      <img src="{{ arr.imagetwo}}" alt="">
    <!-- <ion-buttons >
           
          <ion-icon class="heart" name="heart-outline"></ion-icon>

          
        </ion-buttons>  -->
          <!-- <button  ion-button icon-only  class="cart" >
              <ion-icon style="padding: 10px;"  name="md-cart"></ion-icon>
          </button> -->
          <div class="detail">
           <p >{{arr.nametwo}}</p>
           <p>Rs-{{arr.price}}</p>
          </div>
  </ion-card>

</div>

</div>
