mmproductlist {
    .categorytwo{
        position: relative;
        display: inline-block;
        width: 43%;
        border-radius: 15px;
      
    }


    .categorythree{
       
        display: inline-block;
        width: 43%;
      
    }
    // .cart{
        
       
    //     left: 85%;
    //     z-index: 99999999;
    //     margin-top: 50%;
    //     border-radius: 50%;
    //     background-color: red;
    //     color: #fff;
       
    // }
    // .heart{
      
    //     margin-top: 40%;
    //   font-size: 30px;
    //   left: 6%;
    //   color: #fff;
    
        
    // }

    .detail{
       height: 50px;

    }
}
