<!--
  Generated template for the HotelmenulistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content >
    <ion-list no-lines>
        
        <foodmenu [productid]="1" [productprice]="100"></foodmenu>
        <foodmenu [productid]="2" [productprice]="500"></foodmenu>
        <foodmenu [productid]="3" [productprice]="340"></foodmenu>
       
      </ion-list>
  
</ion-content>
<foodfooter> </foodfooter>