<ion-card   style="display:inline-block;  width:33%; min-height:150px;    margin: -0.5px 0px  -3.5px 1px !important;  padding:0px;  "  (click)="gotoproductlist(id,name)"> 

  <ion-card style="background-color:rgba(42, 184, 228, 0.00);     box-shadow: none;  ">    
   <!--  <img-loader src="{{img}}" fallback="assets/imgs/logo.png" spinner="false"  fallbackAsPlaceholder="true"	useImg ></img-loader>
-->
<img align="center"   src="{{img}}"/> 



  </ion-card>      
 

                 <!--   <ion-item  text-wrap style="font-size:10px;  font-weight:900;     float:center;    text-align:center;          color:rgb(255, 145, 0);  "> Up to 79% OFF</ion-item>
                 -->
  </ion-card>