
 
<ion-content  #container  style="background-color: #f2f2f2;">  

          <basketloader *ngIf="loaded=='0'" ></basketloader>



    <div *ngIf="loaded=='1'" >
          <!-- <img src="https://images-na.ssl-images-amazon.com/images/I/916nOjcvpqL._SX425_.jpg"/>  -->
                  <ion-row>
                        <ion-col col-6   *ngFor="let x of productlisting" style="padding-right:0px;">
                          
                              <productforlistings [productname]="x.name"   [img]="x.images[0].src"    [productid]="x.id"    [variants]="no"    [productprice]="x.price" [productmrp]="x.regular_price"  [productunit]="1"  [container]="container"  [itemlimit]="x.stock_quantity"  [stock]="x.stock_quantity"    > </productforlistings>

                                      
                        </ion-col>
                      </ion-row>

        <div  *ngFor="let x of productlisting"  > 
</div>
    </div>
</ion-content>
