<!--
  Generated template for the OrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar  hideBackButton>
      <ion-title>Thank You</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
      <jetmanloader *ngIf="loaded=='0'"></jetmanloader>
  
    <div *ngIf="loaded=='1'"> 
    <div class="check_mark">
      <div class="sa-icon sa-success animate">
        <span class="sa-line sa-tip animateSuccessTip"></span>
        <span class="sa-line sa-long animateSuccessLong"></span>
        <div class="sa-placeholder"></div>
        <div class="sa-fix"></div>
      </div>
  
    </div> 
    <p style="text-align: center;font-weight:600;font-size:16px;">Yeah! Request For {{order.servicename}} Successfully Placed </p>
    <div>
  
     
      <p style="text-align: left;font-size:10px;color:lightslategray"> <ion-icon name="checkmark"></ion-icon> &nbsp; Store price guarantee - Assured refund in case of variation.</p>
            <p style="text-align: left;font-size:10px;color:lightslategray"> 
                <ion-icon name="checkmark"></ion-icon> &nbsp; 100% onspot replacement guarantee </p>
    </div>
  </div>
  </ion-content>
  <ion-footer >
  
      <button ion-button style="width:47.9%;"  (click)="myorders()" >Track Order</button>
      <button ion-button style="width:48%;" (click)="gohome()" >Home</button>
  </ion-footer>