<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Accounts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >


   <super-tabs scrollTabs selectedTabIndex="0" toolbarBackground="servicetabs" >


    <super-tab [root]="orders"  [rootParams]="{header : 'yes'}" title="Grocery orders"></super-tab>
    <super-tab [root]="bookings"  [rootParams]="{header : 'yes'}" title="Service bookings "></super-tab>

  </super-tabs> 

    <div class="bottom">

        <a href="#"  class="rate" (click)="cart()" >
          <p>1000</p>
          <p>View</p>
         
           </a>
   
           <a href="#"  class="order"  class="hearts"> 
            <p>ORDER NOW</p>
              
            </a>
           
    </div>


</ion-content>
