page-cart {
    .bottom{
        width: 100%;
         position: fixed;
        bottom: 0px;
         background: #fff;
         border-radius: 15px 15px 0px 0px ;
         box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);

     

        a{     
                 display: inline-block;
                 position: relative;
               
        }  
        .rate{
            width: 35%;
        }
        .order{
             width: 30%;
             display: inline-flex;

        }
        
         .bottom{
          z-index: 9999999999;
          position: fixed;  
        }
  

}
}
