


<ion-content >

  <jetmanloader *ngIf="loaded=='0'"> </jetmanloader>
  <div *ngIf="loaded=='1'">
    <ion-list no-lines>

        <ion-item *ngFor="let x of data.services" (click)="goservice(x.id,x.name)">
          <ion-thumbnail item-start>
            <img  style="zoom:1.3;" src="{{x.image}}">
          </ion-thumbnail>
          <p  text-wrap style="font-size:15px; font-weight:600; color:rgb(83, 70, 70);">{{x.name}}</p>
   
        </ion-item>
     </ion-list>  
          </div>  
     
        
   
    
       
    

</ion-content>
