<!--
  Generated template for the ForstoreproductlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header  [scrollingHeader]='content'>

  <ion-navbar>
      <ion-title>{{name}}</ion-title>
  
    <ion-buttons end>
      <button (click)="gotosearch()"  id="notification-button" ion-button icon-only  >
          <ion-icon   name="md-search">               </ion-icon>
        </button>
      </ion-buttons>
        </ion-navbar>
  
  </ion-header>
  

<ion-content >

  <super-tabs scrollTabs  [scrollingHeader]='content'>
    <super-tab [root]="page1"  [rootParams]="{subcategoryid : cat3id}"    title=""></super-tab>
   
  
  </super-tabs>
  <storefooter></storefooter>

</ion-content>
