<ion-item lines>
    <ion-thumbnail item-start>
      <img  src="https://media1.popsugar-assets.com/files/thumbor/D0OYajmdcatHUC1-b4Axbf-uNxo/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2017/02/08/859/n/1922195/a7a42800589b73af54eda9.99423697_edit_img_image_43136859_1486581354/i/KFC-Fried-Chicken-Pizza.jpg">
    </ion-thumbnail>
    <h3>My Neighbor Totoro</h3>
    <p>Hayao Miyazaki • 1988</p>
  

<div item-end (click)="nothing($event)"  style=" float:right;  margin-right:0px; "> 

<button *ngIf="count>0" style="margin:0px; font-weight:700;" (click)="sub($event)"  ion-button small color="dark">-</button>
<button *ngIf="count==0" style="margin:-10px; font-weight:700; width:72px;" (click)="add($event)" ion-button small color="dark">ADD</button>

<button (click)="nothing($event)"  *ngIf="count>0" style="margin:0px;  font-weight:700; background-color:rgba(255, 255, 255, 0);" ion-button small><div style="color:black; font-size:15px; font-weight:900;">{{count}} </div></button>
<button style="margin:0px; font-weight:700;" (click)="add($event)" ion-button small color="dark">+</button>


</div>

  </ion-item>

 
      
      
       