expand {
    .card-header{
        background-color: map-get($colors, primary);
        color: #fff;
    }
    .card-content {
        padding: 0px 16px; 
        max-height: 0px;
    }

    .img-loaded + ion-spinner {
        display:none;
      }
      // .center in my case to make the spinner at the center
      .center{
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
}
