


  <div style="background-color:rgb(240, 229, 229); height:80px;" (click)="toggleAccordion()"> </div>
  <div #ccc style=" display: inline-block; background-color:rgb(255, 255, 255); " >
 
 <ion-card style="background-color:rgb(247, 247, 247);  ">
   
   <ion-card-content #cc  style="background-color:rgb(255, 255, 255); ">
     <ng-content></ng-content>
    
 
     <ion-card  style="display:inline-block; width:33.33%; height:100%; margin: -0.5px -1.5px  -4px -1px !important;    ">
       <img src="http://www.intrawallpaper.com/static/images/hd_wallpaper_images_2038_hd_background.jpg"/>
       <div class="card-title">oneo</div>
       <div class="card-subtitle">41 Listings</div>
     </ion-card>
     <ion-card  style="display:inline-block; width:33.33%; height:100%; margin: -0.5px -1.5px  -4px -1px !important;    ">
       <img src="http://www.intrawallpaper.com/static/images/hd_wallpaper_images_2038_hd_background.jpg"/>
       <div class="card-title">oneo</div>
       <div class="card-subtitle">41 Listings</div>
     </ion-card>
     <ion-card  style="display:inline-block; width:33.33%; height:100%; margin: -0.5px -1.5px  -4px -1px !important;   ">
       <img src="http://www.intrawallpaper.com/static/images/hd_wallpaper_images_2038_hd_background.jpg"/>
       <div class="card-title">oneo</div>
       <div class="card-subtitle">41 Listings</div>
     </ion-card>
     <ion-card  style="display:inline-block; width:33.33%; height:100%; margin: -0.5px -1.5px  -4px -1px !important;   ">
       <img src="http://www.intrawallpaper.com/static/images/hd_wallpaper_images_2038_hd_background.jpg"/>
       <div class="card-title">oneo</div>
       <div class="card-subtitle">41 Listings</div>
     </ion-card>
 
     
    
 
     
 
     
     
     
 
 
   </ion-card-content>
 </ion-card>
 
 </div>
