<super-tabs scrollTabs>
    <super-tab [root]="page1" title="First page"></super-tab>
    <super-tab [root]="page2" title="Second page"></super-tab>
    <super-tab [root]="page3" title="Third page"></super-tab>
    <super-tab [root]="page3" title="Third page"></super-tab>
    <super-tab [root]="page3" title="Third pagjhhhhhhhhhhhhe"></super-tab>
    <super-tab [root]="page3" title="Third pagjhhhhhhhhe"></super-tab>
    <super-tab [root]="page3" title="Third pakjjkkkge"></super-tab>
    <super-tab [root]="page3" title="Third pakjkge"></super-tab>
  </super-tabs>