<!--
  Generated template for the StoreorderdeatailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Order Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content #container>
  <basketloader *ngIf="loaded=='0'"  > </basketloader>
    <div *ngIf="loaded=='1'"> 
        <ion-card style="padding: 0px 0px 0px 0px;"   >
            <ion-card-header style="padding: 0% 0% 0% 3%;">
                <ion-item text-wrap style="padding: 0px 0px 0px 0px;">
                    <p style="font-size:12px;font-weight:700;">Delivery slot: {{x.time}}</p>
                   
                  </ion-item>
             
            </ion-card-header>
            <ion-card-content >
             
                <ion-item text-wrap style="padding: 0px 0px 0px 0px;" >
                <ion-avatar item-start style="height:20px;width:20px;padding: 0px 0px 0px 0px;">
                    <img src="https://www.svgrepo.com/show/57580/store.svg">
                  </ion-avatar>
                  <div style="font-size:12px;font-weight:700;width:100%;padding: 0px 0px 0px 0px;"> FARMLIFE RETAIL NETWORK <span style="text-align:right;">&nbsp; - &nbsp;  </span></div>
                                 <p style="font-size:12px;font-weight:500;width:100%;color:lightslategray;"> Order Id:&nbsp;{{x.id}}</p>
  
                  <p style="font-size:12px;font-weight:500;width:100%;color:lightslategray;"> Amount Payable:&nbsp;₹ {{x.total}}</p>
   </ion-item>
                  <ol class="progress-meter" *ngIf="x.status=='dispatched'">
                      <li class="progress-point done" style="font-weight:500;">placed</li><li class="progress-point done" style="font-weight:500;">packed</li><li class="progress-point done" style="font-weight:500;">dispatched</li><li class="progress-point todo" style="font-weight:500;">delivered</li>
                    </ol>
                    <ol class="progress-meter" *ngIf="x.status=='packed'">
                      <li class="progress-point done" style="font-weight:500;">placed</li><li class="progress-point done" style="font-weight:500;">packed</li><li class="progress-point todo" style="font-weight:500;">dispatched</li><li class="progress-point todo" style="font-weight:500;">delivered</li>
                    </ol>
                    <ol class="progress-meter" *ngIf="x.status=='placed'">
                      <li class="progress-point done" style="font-weight:500;">placed</li><li class="progress-point todo" style="font-weight:500;">packed</li><li class="progress-point todo" style="font-weight:500;">dispatched</li><li class="progress-point todo" style="font-weight:500;">delivered</li>
                    </ol>
                    <ol class="progress-meter" *ngIf="x.status=='delivered'">
                      <li class="progress-point done" style="font-weight:500;">placed</li><li class="progress-point done" style="font-weight:500;">packed</li><li class="progress-point done" style="font-weight:500;">dispatched</li><li class="progress-point done" style="font-weight:500;">delivered</li>
                    </ol>
                    <ol class="progress-meter" style="font-weight:500;        " *ngIf="x.status=='cancelled'">
                      <li class="progress-point cancelled" style="font-weight:500; color: rgb(116, 70, 12);">placed</li><li class="progress-point cancelled" style="font-weight:500; ">Cancelled</li>
                    </ol>
                
                  </ion-card-content>            
          </ion-card>
         
          <ion-list>
              <ion-item *ngFor="let y of data.product">
                <ion-thumbnail item-start>
                  <img  [defaultImage]="'assets/placeholders/product.png'" [lazyLoad]="y.imagelow"   [offset]="100" [scrollObservable]="container.ionScroll" />

                </ion-thumbnail>
                <p text-wrap >{{y.name}}</p>
                <p text-wrap>₹{{y.price}} x {{y.count}} </p>
                <p item-end>₹{{y.count*y.price}}</p>
              </ion-item>
              
            </ion-list>
<!--
    <div align="center">
                  <button (click)="confirmcancel()" ion-button  block icon-left style="width:100%; margin:auto;  background:firebrick;font-weight:400" [disabled]="x.status!='placed'">
                      <ion-icon ios="md-sad" md="md-sad"></ion-icon>cancel</button>
           </div>  
          -->
           </div>
</ion-content>
