
<ion-header>

    <ion-navbar >
      <ion-title>Service booking </ion-title>
    </ion-navbar>
    
    
    
    </ion-header>
    <ion-content class="outer-content">
      <ion-item-divider text-wrap style="background:rgb(209, 217, 231);color:rgb(88, 27, 27); font-weight:600;font-size:18px; text-align:center;  " color="primary">({{servicename}})</ion-item-divider>

      <jetmanloader *ngIf="loaded=='0'"></jetmanloader>
<div *ngIf="loaded=='1'">
        <ion-list>
          <ion-list-header>
            Your Address 
            <button  (click)="gotoaddresspage()"ion-button outline item-end>Change</button>

          </ion-list-header>
          <div> 
            
  
</div>
         <div *ngIf="address">
          
          


          <ion-item no-lines>
 <p style="font-size:14px; font-weight:600;">{{address.name.toUpperCase()}},</p>
 <p style="font-size:14px; font-weight:600;">{{address.line1.toUpperCase()}},</p>
 <p style="font-size:14px; font-weight:600;">{{address.line2.toUpperCase()}},</p>
 <p style="font-size:14px; font-weight:600;">{{address.line3.toUpperCase()}}.</p>
 

        

          </ion-item> 
      
      
         
              </div> 
              <ion-list-header> Special Message(optional)</ion-list-header>

                <ion-item>
        <ion-textarea [(ngModel)]="servicemessage"  placeholder="Type your message here."></ion-textarea>
      </ion-item>
             
        </ion-list>
      
  
      </div>

      </ion-content>
    
      <div *ngIf="loaded=='1'" #fot>
          <ion-footer (click)="booknow()"   style="background:rgb(0, 0, 0);color:white;display:inline-block;font-size:12px;">
            <ion-item no-lines  detail-push style="background:rgb(0, 0, 0);color:white; font-weight:600;font-size:18px; text-align:center;  " >
            &nbsp; Confirm Booking
           </ion-item>
            
           </ion-footer>
          
           </div>