<!--
  Generated template for the StorecartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Cart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content #cc #container>

<!-- <div *ngIf="shared.storecartdetails.count<1" >
 <div style="text-align:center;  position:absolute; top:5%;" ion-item no-lines>
       <img src="https://cdn.dribbble.com/users/204955/screenshots/4930541/emptycart.png" />

   <br>
   <br>
   <br>
   <br>
<p>Your cart is empty </p>
<br>
<button  (click)="gohome()" color="slotcolor" style="zoom:1.5; font-weight:800;" ion-button  block>Start shopping </button>

 </div>
</div> -->
  

  <div  >
   <!-- <basketloader  *ngIf="loaded=='0'" ></basketloader> -->
   
<div>
<div> 

  <!-- <div ion-item  style="background-color:#5bd82a; color:white; text-align:center;  font-size:18px; font-weight:700;"> 
    You save ₹{{shared.storecartdetails.mrp.toFixed(0) - shared.storecartdetails.price.toFixed(0)}}
  </div>
   -->
<div> 
    <productinstorecart [productname]="'saree'"   [img]="'https://mmsilks.com/wp-content/uploads/2019/10/Vinay-Fashion-Sheesha-Harmony-19688-diva-exports-300x300.jpeg'"    [productid]=""    [productprice]="1200" [productmrp]="1300"  [productunit]="2" [container]="container"  [variants]="hh"  [stock]="12"  [itemlimit]="11"   > </productinstorecart>
  </div>


</div>


</div>
</div>
</ion-content>
<div #fot>
  <!-- <ion-footer  (click)="becomemember()"    *ngIf="shared.storecartdetails.count>=1 && shared.status=='lead'" style="background:limegreen;color:white;display:inline-block;font-size:12px;"> -->
  <ion-footer  (click)="becomemember()"    style="background:limegreen;color:white;display:inline-block;font-size:12px;">
    <ion-item  detail-push style="background:limegreen;color:white;" ><span style="font-size:19px;font-weight:800;margin-bottom:-8px;"><ion-icon ios="ios-basket" md="md-basket"></ion-icon> 
    </span><span item-end style="font-weight:600;font-size:18px;">Become member to checkout</span></ion-item>
    
   </ion-footer>
  <!-- <ion-footer  (click)="gostorecheckout()"    *ngIf="shared.storecartdetails.count>=1 && shared.status!='lead'" style="background:limegreen;color:white;display:inline-block;font-size:12px;"> -->
  <ion-footer  (click)="gostorecheckout()"    style="background:limegreen;color:white;display:inline-block;font-size:12px;">
    <ion-item  detail-push style="background:limegreen;color:white;" ><span style="font-size:19px;font-weight:800;margin-bottom:-8px;"><ion-icon ios="ios-basket" md="md-basket"></ion-icon> {{shared.storecartdetails.count}} &nbsp; Item &nbsp; | &nbsp; ₹{{shared.storecartdetails.price.toFixed(0)}}
    </span><span item-end style="font-weight:600;font-size:18px;">Checkout </span></ion-item>
    
   </ion-footer>
  
   </div>
  