<!--
  Generated template for the OrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
    <ion-title>Thank You</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <basketloader *ngIf="loaded=='0'"></basketloader>

  <div *ngIf="loaded=='1'"> 
  <div class="check_mark">
    <div class="sa-icon sa-success animate">
      <span class="sa-line sa-tip animateSuccessTip"></span>
      <span class="sa-line sa-long animateSuccessLong"></span>
      <div class="sa-placeholder"></div>
      <div class="sa-fix"></div>
    </div>

  </div> 
  <p style="text-align: center;font-weight:600;font-size:16px;">Yeah! Order Successfully Placed </p>
  <p style="text-align: center;font-weight:600;font-size:14px;color:limegreen">You have saved ₹{{order.amount-order.discount}}</p>
  <div>
  <ion-card *ngIf="order.deliverytype=='typeslot'">
      <ion-item  line><p style="text-align: center;font-size:12px;">Delivery Date & Time </p></ion-item>
      <ion-card-header>
          <p *ngIf="order.slotid!='0'"  style="text-align: left;font-size:14px;">{{data.slot[0].date}},{{data.slot[0].time}}</p>
          <p *ngIf="order.slotid=='0'"  style="text-align: left;font-size:14px;">Express delivery</p>

          <p style="text-align: left;font-weight:400;font-size:12px;"> <ion-icon name="archive"> </ion-icon> Super Store, Agrini.</p>
      </ion-card-header>
     
    </ion-card>
    <ion-card *ngIf="order.deliverytype=='typeexpress'">
      <ion-item line><p style="text-align: center;font-size:12px;">Delivery Date & Time </p></ion-item>
      <ion-card-header>
          <p style="text-align: left;font-size:14px;">Express delivery</p>
          <p style="text-align: left;font-weight:400;font-size:12px;"> <ion-icon name="archive"> </ion-icon> Super Store, Agrini.</p>
      </ion-card-header>
     
    </ion-card>
    <p style="text-align: left;font-size:10px;color:lightslategray"> <ion-icon name="checkmark"></ion-icon> &nbsp; Store price guarantee - Assured refund in case of variation.</p>
          <p style="text-align: left;font-size:10px;color:lightslategray"> 
              <ion-icon name="checkmark"></ion-icon> &nbsp; 100% onspot replacement guarantee </p>
  </div>
  <p style="text-align: center;font-weight:900;font-size:19px;color:rgb(33, 146, 33)">Original payable amount ₹{{order.total}} </p>
</div>
</ion-content>
<ion-footer >

    <button ion-button style="width:47.9%;"  (click)="myorders()" >Track Order</button>
    <button ion-button style="width:48%;" (click)="gohome()" >Continue Shopping</button>
</ion-footer>