


<ion-content >
  <basketloader  *ngIf="loaded=='0'"> </basketloader>
  <ion-list *ngIf="loaded=='1'" no-lines>          <ion-card *ngFor="let item of data.user" > 
<ion-item-sliding #slidingItem> 
    <ion-item class="item-ribbon" #itemid lines (click)="openOption(slidingItem, itemid)">  
        <ion-thumbnail item-left >
        <span class="ribbon {{ item.status }}">
          <span>{{ item.status }}</span>
        </span>
        <img [src]="item.image">
      </ion-thumbnail>
      <div>
        <h4>{{ item.name }}</h4>
        <p>{{ item.mobile }}</p>
      </div>
    </ion-item>

    <ion-item-options side="right">
      <button ion-button (click)="callnow(item.mobile)">
        <ion-icon name="call"></ion-icon>
        Call
      </button>    </ion-item-options>
  </ion-item-sliding>
</ion-card>
 

  </ion-list>


</ion-content>
   