

  <div #categorycard style="background-color:rgb(252, 239, 239);  "    (click)="toggleAccordion()">
     
</div>

        
  <div #ccc style=" display: inline-block; background-color:rgb(255, 255, 255);  width:100%; " >
 
 <ion-card #cardmain style="background-color:rgb(247, 247, 247); ">
   
   <ion-card-content #cc  style="background-color:rgb(255, 255, 255);  ">
   
      <!--
    <subcategory *ngFor="let x of subcategory"  [name]="x.sname"   [img]="x.image"    [id]="x.sid"      > </subcategory>
   -->
    <div  id="my-node" style="padding:0;">
        <img style="margin-bottom:-3.7px;" src="{{img}}"  />

      <ng-container *ngFor="let x of subcategory">
           <img *ngIf="x.size=='1' " style="margin-bottom:-3.7px;" src="{{x.image}}" (click)="gotoproductlist(x.sid,x.sname)"  />
           <img *ngIf="x.size=='2' " style="margin-bottom:-3.7px; width:49.5%; display:inline-block; position:relative; " src="{{x.image}}" (click)="gotoproductlist(x.sid,x.sname)"  />
    
      </ng-container>
    
    
    </div>
   </ion-card-content>
 </ion-card>
 
 </div>
  
