category {
    .card-header{
        background-color: map-get($colors, primary);
        color: #fff;
    }
    .card-content {
        padding: 0px 16px; 
        max-height: 0px;
    }
    .card {
        margin-bottom: -10px;
  

    }

}
