<ion-item   style="margin-top:10px; color:white;"  no-lines color="xscroll"> 
  <div style=" background-color: rgb(105, 213, 228);  "> 
    {{offernamey}}


  </div>
  <button ion-button  item-end color="light" outline>Seee all</button>


</ion-item>

<ion-scroll scrollX="true"   style="white-space:nowrap; height: 200px;    background-image:url('http://18.220.1.217/images/bg.png');  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  background-color: rgb(105, 213, 228);        ">
  <div >

    <ion-card style="display:inline-block; position:absolute; height:240px; box-shadow: none;  width:180px; background-color:rgba(0, 0, 0, 0);">

      </ion-card>
<div style="display:inline-block;  background-color:rgb(105, 213, 228); margin-left:170px;"> 
      <ion-card style="display:inline-block; margin-left:0px; width:185px;  height:230px; margin-top:15px;">
          <ion-badge style="border-style:solid; border-width:0.9px;  position:absolute; color:rgb(26, 185, 26); margin-top:5px; margin-left:90px;; float:right;  " color="off"> 60% OFF</ion-badge>

          <img style="zoom:0.4; float:left; width:440px;   height: auto; margin-top:10px;"src="https://cdn.grofers.com/app/images/products/normal/pro_380.jpg"/>
          <ion-card-content>
              <p text-wrap>
                  $56 77
                </p>
            <p text-wrap>
              The most popular industrial
            </p>
<div style="position:absolute; bottom:20px;">
        <button  style="margin:-10px;  margin-left:-8px; width:148px;" (click)="add($event)" ion-button small color="dark">ADD</button>

        <button style="margin:0px;" (click)="add($event)" ion-button small color="dark">+</button> </div>
          </ion-card-content>
        </ion-card>
        
</div>
      
        
  </div>
</ion-scroll>

