<!--
  Generated template for the StoreloaderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>storeloader</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div style="position:fixed; top:45%; left:30%;"> 
  <div class="fa fa-shopping-basket icon-basket">  <ion-icon name="basket"></ion-icon>  </div>
  <div class="fa fa-shopping-basket icon-basket">  <ion-icon name="basket"></ion-icon>  </div>
  <div class="fa fa-shopping-basket icon-basket">  <ion-icon name="basket"></ion-icon>  </div>
</div>
</ion-content>
 