page-storeloader {
    .icon-basket{
        display:inline-block;
        font-size:36px;
        color:black;
        transform-origin:top;
        animation: rotation 2s ease infinite;
    }
    
        
    @keyframes rotation {
     0% {transform: rotate(-30deg);}
     50% {transform: rotate(30deg);}
     100% {transform: rotate(-30deg);}
    }
}
