<!--
  Generated template for the ServicedetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar >
    <ion-title >{{servicename}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <jetmanloader *ngIf="loaded=='0'">  </jetmanloader>
  <div *ngIf="loaded=='1'"> 
  <ion-slides   style="height:155px;  ">
    <ion-slide     > 
        <img src="{{data.result[0].image}}" />
      </ion-slide>
    
  </ion-slides>

  <ion-list lines style="margin-top:13px;">
    <ion-item no-lines>
        <ion-thumbnail style="zoom:0.7;" item-start>
                  <img  src="assets/imgs/certified.svg">

        </ion-thumbnail>
      <h2 style="font-weight:800;">Certified Professionals</h2>
      <p text-wrap >We provide only verified, Background check & High Qality Professionals.</p>
     
    </ion-item>
   
    <ion-item no-lines>
        <ion-thumbnail style="zoom:0.7;" item-start>
                  <img  src="assets/imgs/professionals.svg">

        </ion-thumbnail>
      <h2 style="font-weight:800;">Matched to Your Needs</h2>
      <p text-wrap >We match you with the professionals with the right budget.</p>
     
    </ion-item>
    <ion-item no-lines>
        <ion-thumbnail style="zoom:0.7;" item-start>
                  <img  src="assets/imgs/hasslefree.svg">

        </ion-thumbnail>
      <h2 style="font-weight:800;">Hassle Free Service Delivery</h2>
      <p text-wrap >Super convenient, Guaranteed service from booking to delivery.</p>
     
    </ion-item>
    <ion-list-header> Please Note</ion-list-header>
  <ion-item>

    <p   text-wrap >   <ion-icon name="play"></ion-icon> &nbsp; 
    Charges may varies based on service. Get in touch with our professionals to know exact charges.</p>
    </ion-item>

  </ion-list>
</div>
</ion-content>
<div #fot>
    <ion-footer *ngIf="loaded=='1'" (click)="booknow()"   style="background:rgb(0, 0, 0);color:white;display:inline-block;font-size:12px;">
      <ion-item no-lines  detail-push style="background:rgb(0, 0, 0);color:white; font-weight:600;font-size:18px; text-align:center;  " >
      &nbsp; Book Now
     </ion-item>
      
     </ion-footer>
    
     </div>