
<ion-tabs   selectedIndex="0" style="color:blue; font-size:13px; font-weight:700;" (ionChange)="change()"  #tabs swipeBackEnabled="true" >
    <ion-tab [show]="seeTabs"  [root]="shopRoot" tabTitle="Grocery" tabIcon="leaf" swipeBackEnabled="true"></ion-tab>
    <ion-tab  [show]="seeTabs" [root]="servicesRoot" tabTitle="Services" tabIcon="hammer" swipeBackEnabled="true"></ion-tab>
    <ion-tab [root]="cartRoot" tabTitle="Account" tabIcon="ios-clipboard" swipeBackEnabled="true"></ion-tab>
</ion-tabs>
