page-shop {
    #notification-button {            
        position: relative;
        width: 42px;
        top:1px;
        right: 1px;
        overflow: visible!important;
    }


#notifications-badge {
        background-color: rgb(241, 68, 0);
        position: absolute;
        top: -3px;
        right: -3px;
        border-radius: 100%;
    }
    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
        }
      
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }
      
      }

      .xscrolldiv {

        ion-card {
          position: relative;
          text-align: center;
        }
      
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }
      
      }
      .flex{
   
        display: flex;
        overflow-x:scroll;
        width: 100%;
        ion-card {
            margin-top: 20px;
            flex: 1 0 auto;
        }
    }
    .categorytwo{
      position: relative;
      display: inline-block;
      width: 43%;
      border-radius: 15px;
     
  }
  .categorythree{
    position: relative;
    overflow:visible ;
    display: inline-block;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    margin-left: 10%;
}
.cart{
    
    position: absolute;
    left: 85%;
    z-index: 99999999;
    margin-top: 50%;
    border-radius: 50%;
    background-color: red;
    color: #fff;
   
}
.heart{
    position: absolute;
    margin-top: 40%;
  font-size: 30px;
  left: 6%;
  color: #fff;

    
}
}
