<!--
  Generated template for the MainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header #container [scrollingHeader]='content'> -->
<ion-header #container>

  <ion-navbar color="newcolor">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    MM Silks

    <ion-buttons end>
      <button (click)="gostosearch()" ion-button icon-only>
        <ion-icon name="ios-search"> </ion-icon>
      </button>
      &nbsp;&nbsp;&nbsp;

      <button (click)="gostosearch()" ion-button icon-only>
        <ion-icon item-end name="ios-bookmark-outline"></ion-icon>
      </button>
      &nbsp;&nbsp;&nbsp;

      <button (click)="gostorecart()" id="notification-button" ion-button icon-only>
        <ion-icon name="md-cart">
          <ion-badge id="notifications-badge" color="danger">{{shared.storecartdetails.count}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <!--
  <ion-navbar color="newcolor">

      <button   (click)="gostorecategory()" ion-button small outline style="width:31%; zoom:1.2;"  color="lightbuttons"><span style="font-weight: 500; color:black;  font-size:12px;"> Category</span></button>

      <button (click)="gostosearch()"  ion-button small outline style="width:65%; zoom:1.2; " color="lightbuttons">     <span style="font-weight: 500; color:black; font-size:12px;">    <ion-icon name="search"></ion-icon>     &nbsp;    &nbsp;   Search
 </span>   
 </button>
  </ion-navbar>
-->
</ion-header>


<ion-content color="newcolor" style="background-color:#ffffff">
  <basketloader *ngIf="loaded=='0'"></basketloader>

  <div *ngIf="loaded=='1'">

    <!-- <ion-card  style="border-radius: 15px; " >
            <ion-slides  #homeslider spaceBetween="12"  slidesPerView="1"  centeredSlides loop pager autoplay="5000" speed="1000" style="height:155px; "  >
            
              <ion-slide  > 
               
                  <img style="width: 100%; " src="https://mmsilks.com/wp-content/uploads/2019/10/tumbaa-bebo-2-vinay-fashion-wholesaleprice-33910-300x300.jpg"/>
                  
                </ion-slide>
              <ion-slide  > 
               
                  <img  style="width: 100%;" src="https://mmsilks.com/wp-content/uploads/2019/10/tumbaa-bebo-2-vinay-fashion-wholesaleprice-33910-300x300.jpg"/>
                  
                </ion-slide>
            </ion-slides>
          </ion-card> -->

    <ion-slides #homeslider spaceBetween="12" slidesPerView="1" centeredSlides loop autoplay="5000" speed="1000"
      style="height:155px; margin-bottom:0px; border-radius: 10px !important;" *ngIf="loaded=='1'">
      <ng-container *ngFor="let x of banner">


        <ion-slide style="padding-right:10px; padding-left:10px;">
          <img src="{{x.url}}" style="border-radius: 10px !important; " />
        </ion-slide>
      </ng-container>
    </ion-slides>

    <!-- <div class="flex">
              <ion-card class="category" *ngFor="let arr of catg.subcategory"   (click)="subcategory()">
               
                      <img src="{{arr.image}}" alt="categoryimage" >
              </ion-card>
          
          </div> -->

    <div style="padding: 3%;">
      <div>
        <ion-card class="categorytwo" *ngFor="let x of products" (click)="subcategories(x.id)"
          style="margin-bottom: 6%; height: 200px; background-size: cover; "
          [ngStyle]="{ 'background-image': 'url(' + x.image.src + ')'}">
          <p
            style="position: absolute; margin-top: 75%; margin-left: 5%; color: #fff; font-size: 17px; font-weight: 600;">
            {{x.name}}</p>
        </ion-card>

      </div>
    </div>

    <div class="flex">
      <ion-card class="categorythree" *ngFor="let arr of featured"
        style="margin-bottom: 6%; height: 250px; background-size: cover; "
        [ngStyle]="{ 'background-image': 'url(' + arr.images[0].src + ')'} ">

        <ion-buttons>

          <ion-icon class="heart" name="heart-outline"></ion-icon>


        </ion-buttons>
        <button ion-button icon-only class="cart">
          <ion-icon style="padding: 10px;" name="md-cart"></ion-icon>
        </button>
        <p style=" position: absolute;  top: 70%; margin-left: 5%; color: #fff; font-size: 17px; font-weight: 600; ">
          {{arr.name}}</p>
        <p style=" position: absolute; top: 80%;  margin-left: 5%; color: #fff; font-size: 15px;">This is the category
          of product</p>
        <p style=" position: absolute; top: 40%; margin-left: 2%; color: #fff; font-size: 15px;">Rs-{{arr.price}}</p>
      </ion-card>

    </div>

    <!-- <div  id="my-node" style="padding:0;">
              <ng-container *ngFor="let x of catg.banner">
                   <img *ngIf="x.size=='1' " style="margin-bottom:-3.7px;" src="{{x.url}}" (click)="gobanner(x.type,x.offerid)"  />
                   <img *ngIf="x.size=='2' " style="margin-bottom:-3.7px; width:49.5%; display:inline-block; position:relative; " src="{{x.url}}" (click)="gobanner(x.type,x.offerid)"  />
            
              </ng-container>
            
            
            </div>
  -->
    <!-- <div  *ngFor="let x of catg.records"  > 


<category [categoryname]="x.cname"   [img]="x.image"    [id]="x.cid"   [categoryarray]="catg.subcategory"  [categoryoffers]="x.categoryoffers"  [container]="container"   > </category>
</div>

</div>
   
        <div *ngIf="loaded=='1'"   > 

          <div *ngFor="let y of catg.offers" >
    <storeoffers  *ngIf="loaded=='1'"    [offertype]="y.type"     [image]="y.image"       [offername]="y.name"   [offercode]="y.id"  [color]="y.color"   > </storeoffers>

 </div> -->
  </div>



</ion-content>
