// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

$fa-font-path: $font-path;
// @import "font-awesome";
// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$tabs-ios-tab-font-size	: 12px;
$tabs-ios-tab-font-weight	: 900;
$colors: (
  primary:    rgb(0, 0, 0),
  secondary:  #32db64,
  danger:     #f53d3d,
 light:      #ffffff,
  dark:       #e96125,
  yes:       rgb(252, 93, 93),
  no:       rgb(47, 128, 0),
  appcolor: #e96125,
  servicetabs: rgb(255, 255, 255),
  slotcolor: limegreen,
  foodbutton: limegreen,
  grey:#ccc,
  transparent: rgba(42, 184, 228, 0),
  xscroll:  rgb(105, 213, 228),
  off: rgba(187, 243, 123, 0),
  lightbuttons: rgba(170, 160, 180, 0.473),
  head: rgb(70, 69, 69),
//  newcolor: #f4f2e5
  newcolor: #ffffff
);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
