<!--
  Generated template for the FirstorderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Checkout</ion-title>
  </ion-navbar>

</ion-header>


<ion-content #container>
    <basketloader *ngIf="loaded=='0'"></basketloader>
  <div *ngIf="loaded=='1'">
    <div id="payment-div"></div>
    <ion-list-header>
        Delivery Address 
      </ion-list-header>
      <div> 
        

</div>
    


      <ion-item no-lines>
<p *ngIf="formdata.cust_name" style="font-size:14px; font-weight:600;">{{formdata.cust_name.toUpperCase()}},</p>
<p *ngIf="formdata.ord_address" style="font-size:14px; font-weight:600;">{{formdata.ord_address.toUpperCase()}},</p>
<p *ngIf="formdata.ord_address2" style="font-size:14px; font-weight:600;">{{formdata.ord_address2.toUpperCase()}},</p>
<p *ngIf="formdata.ord_address3" style="font-size:14px; font-weight:600;">{{formdata.ord_address3.toUpperCase()}}.</p>


    

      </ion-item> 

      <ion-list-header >
        Items
      </ion-list-header>
   

      <ion-list *ngIf="cartfill=='yes' && loaded2=='1'">
          <ion-item *ngFor="let x of products.records">
            <ion-thumbnail item-start>
              <img  [defaultImage]="'assets/placeholders/product.png'" [lazyLoad]="x.imagelow"   [offset]="100" [scrollObservable]="container.ionScroll" />

            </ion-thumbnail>
            <p text-wrap >{{x.name}}</p>
            <p text-wrap >₹ {{x.price}}</p>
            <p item-end> {{x.finalunit}}</p>

          </ion-item>
      </ion-list>
  
   

  


      </div>

</ion-content>
<div #fot>
  <ion-footer  (click)="pay()"    *ngIf="shared.storecartdetails.count>=1" style="background:limegreen;color:white;display:inline-block;font-size:12px;">
    <ion-item  detail-push style="background:limegreen;color:white;" ><span style="font-size:19px;font-weight:800;margin-bottom:-8px;"><ion-icon ios="ios-basket" md="md-basket"></ion-icon> {{shared.storecartdetails.count}} &nbsp; Item &nbsp; | &nbsp; ₹{{shared.storecartdetails.price.toFixed(0)}}
    </span><span item-end style="font-weight:600;font-size:18px;">Pay now</span></ion-item>
    
   </ion-footer>
  
   </div>