page-vsowallet {
    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
          height: 130px;
          background-color: rgb(192,229,71);
          color: rgb(255, 255, 255);

        }
      
        .card-title {
          position: absolute;
          top: 36%;
          font-size: 3.0em;
          width: 100%;
          font-weight: bold;
          color: rgb(255, 255, 255);
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 52%;
          width: 100%;
          color: #fff;
        }
      
      }
      ion-input {
        input {
          text-align: center;
          font-weight:900;
          /* IF YOU ALSO WANT TO PUSH PLACHEHOLDER TO THE RIGHT USE THE FOLLOWING, IF NOT JUST DELETE THE ::-webkit-input-placeholder*/
          ::-webkit-input-placeholder {
            text-align: center;
          }
        }
      }
}
