// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.welcome {
    @import url(http://weloveiconfonts.com/api/?family=zocial);
    /* zocial */
    [class*="zocial-"]:before {
      font-family: 'zocial', sans-serif;
    }
    .container {
      height: 100%;
      width: 100%;
      margin: 10% auto 0;
      background: #f0f0f0;
      border-radius: 3px;
      &:hover {
        .social li {
          margin: 0;
        }
      }
    }
    .header {
      text-align: center;
      padding: 40px 30px 0 30px;
      h1,
      h2 {
        font-weight: 300;
      }
      h1 {
        margin: 0;
      }
      h2 {
        margin: 0 0 15px 0;
        color: #505064;
      }
    }
    .profile {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      margin: 20px 0 -70px 0;
      border: 3px solid #f37346;
      transition: all 1.5s ease;
      &:hover {
        border: 3px solid red;
      }
    }
    .content {
      background: #f37346;
      color: #f0f0f0;
      padding: 75px 0 0 0;
      text-align: center;
      height: auto;
      p {
        padding: 20px 40px;
        font-weight: 300;
      }
    }
    .social {
      padding: 40px 0 0 0;
      ul {
        list-style-type: none;
        width: 100%;
        height: 50px;
        overflow: hidden;
        li {
          margin: 50px 0 0 0;
          float: left;
          width: 33.3333%;
          height: 100%;
          line-height: 50px;
          @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
              transition: ($i * .3s);
            }
          }
        }
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
    .zocial-facebook {
      background: #3B5998;
      display: block;
    }
    .zocial-twitter {
      background: #55ACEE;
      display: block;
    }
    .zocial-instagram {
      background: #3F729B;
      display: block;
    }
  
}

.color{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fceabb+4,f9d884+34,f8b500+56,f8b500+59,f8b500+59,f8b500+66,fbdf93+95 */
background: rgb(252,234,187); /* Old browsers */
background: -moz-linear-gradient(top,  rgb(252,234,187) 4%, rgb(249,216,132) 34%, rgb(248,181,0) 56%, rgb(248,181,0) 59%, rgb(248,181,0) 59%, rgb(248,181,0) 66%, rgb(251,223,147) 95%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgb(252,234,187) 4%,rgb(249,216,132) 34%,rgb(248,181,0) 56%,rgb(248,181,0) 59%,rgb(248,181,0) 59%,rgb(248,181,0) 66%,rgb(251,223,147) 95%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(252,234,187) 4%,rgb(249,216,132) 34%,rgb(248,181,0) 56%,rgb(248,181,0) 59%,rgb(248,181,0) 59%,rgb(248,181,0) 66%,rgb(251,223,147) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */

}


// Sidemenu with avatar
#menu-avatar {
  .user-avatar {
    padding: .5em;
  }
  h3,
  .label {
    color: white;
    font-weight: bold;
  }
  .item {
    background: transparent;
  }
  ion-content {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#006e2e+57,006e2e+81,00721a+100 */
background: #133b22 /* Old browsers */

  }
  .menu-inner {
    background: rgba(255, 255, 255, .3);
  }
  p{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fceabb+4,f9d884+34,f8b500+56,f8b500+59,f8b500+59,f8b500+66,fbdf93+95 */
color:rgb(255,215,0); /* FF3.6-15 */
  }
}