<div> 
<ion-menu  id="menu-avatar" [content]="content" (ionOpen)="menuOpened()" (ionClose)="menuClosed()">
    
  
    <ion-content class="welcome-area color" >
      <img src="assets/logo2.png" /> 
      <div *ngIf="loaded=='1'">
        <div  *ngIf="shared.in=='ServicesPage'" style="height:75px; width:100%; background-image:linear-gradient(127deg, #ff9e37 0%, #ffab24 91%);" >
        </div>
      <div *ngIf="shared.in=='ServicesPage'" style="height:75px; width:100%; background-image:linear-gradient(127deg, #384DFF 0%, #24CDFF 91%);" >
  </div>
      <ion-list>

        <ion-item style="zoom:0.99;" no-lines menuClose *ngIf="userdata.status=='lead' && userdata.entrytype!='vso'" (click)="becomeamember()">
          <ion-avatar item-start>
            <img  src="assets/sideimg/home.svg">
          </ion-avatar>
          <p style="font-size:15px; font-weight:700;">Become a Member</p>
         
        </ion-item>
        <ion-item style="zoom:0.99;" no-lines menuClose *ngIf="userdata.status=='lead' && userdata.entrytype=='vso'" (click)="becomevso()">
          <ion-avatar item-start>
            <img  src="assets/sideimg/home.svg">
          </ion-avatar>
          <p style="font-size:15px; font-weight:700;">Become a VSO</p>
         
        </ion-item>

    <ion-item style="zoom:0.99;" no-lines menuClose   *ngIf="userdata.status=='active' && userdata.entrytype!='vsp'">
      <ion-avatar item-start>
        <img  src="assets/sideimg/mobile.svg">
      </ion-avatar>
      <p style="font-size:15px; font-weight:700;">{{userdata.userid}}</p>
     
    </ion-item>
    
 
  
 
    <ion-item style="zoom:0.99;" no-lines menuClose (click)="gostoreorders()" *ngIf="userdata.status=='active'">
      <ion-avatar item-start>
        <img  src="assets/sideimg/box.svg">
      </ion-avatar>
      <p style="font-size:15px; font-weight:700;">My Orders</p> 
    </ion-item>
    <ion-item style="zoom:0.99;" no-lines menuClose (click)="address()" *ngIf="userdata.status=='active'">
        <ion-avatar item-start>
          <img  src="assets/sideimg/home.svg">
        </ion-avatar>
        <p style="font-size:15px; font-weight:700;">My Address</p>
       
      </ion-item>
  
       <ion-item style="zoom:0.99;" no-lines menuClose (click)="referafriend()" *ngIf="userdata.status=='active' && userdata.entrytype!='vsp'">
        <ion-avatar item-start>
          <img  src="assets/sideimg/refer.svg">
        </ion-avatar>
        <p style="font-size:15px; font-weight:700;">Refer a friend</p>
       
      </ion-item>
      
    <ion-item style="zoom:0.99;" no-lines menuClose (click)="gowallet()" *ngIf="userdata.status=='active' && userdata.entrytype=='mlm'">
      <ion-avatar item-start>
        <img  src="assets/sideimg/wallet.svg">
      </ion-avatar>
      <p style="font-size:15px; font-weight:700;">Wallet</p> 
    </ion-item>
    <ion-item style="zoom:0.99;" no-lines menuClose (click)="vsowallet()" *ngIf="userdata.status=='active' && userdata.entrytype=='vso'">
      <ion-avatar item-start>
        <img  src="assets/sideimg/wallet.svg">
      </ion-avatar>
      <p style="font-size:15px; font-weight:700;">Wallet</p> 
    </ion-item>
    
  <!--
    <ion-list-header *ngIf="userdata.status=='active' && userdata.entrytype=='mlm'">
      Assoiciates 
     </ion-list-header>
   
   
     <ion-item style="zoom:0.99;" no-lines menuClose (click)="becomeassosicate()" *ngIf="userdata.status=='active' && userdata.business=='no' && userdata.entrytype=='mlm'">
      <ion-avatar item-start>
        <img  src="assets/sideimg/groceries.svg">
      </ion-avatar>
      <p style="font-size:15px; font-weight:700;">Join the Programme </p>
       

    </ion-item>
    -->
     <ion-item style="zoom:0.99;" no-lines menuClose (click)="panel()" *ngIf="userdata.business=='yes'">
      <ion-avatar item-start>
        <img  src="assets/sideimg/groceries.svg">
      </ion-avatar>
      <p style="font-size:15px; font-weight:700;">Assoiciates Panel</p>
     
    </ion-item>
     <ion-item style="zoom:0.99;" no-lines menuClose (click)="updatekyc()" *ngIf="userdata.business=='yes'">
      <ion-avatar item-start>
        <img  src="assets/sideimg/groceries.svg">
      </ion-avatar>
      <p style="font-size:15px; font-weight:700;">Update KYC</p>
     
    </ion-item>
     <ion-item style="zoom:0.99;" no-lines menuClose (click)="treeorders()" *ngIf="userdata.business=='yes'">
      <ion-avatar item-start>
        <img  src="assets/sideimg/groceries.svg">
      </ion-avatar>
      <p style="font-size:15px; font-weight:700;">Referral Orders</p>
     
    </ion-item>

<ion-item style="zoom:0.99;" no-lines menuClose (click)="call()">
 <ion-avatar item-start>
   <img  src="assets/sideimg/call.svg">
 </ion-avatar>
 <p style="font-size:15px; font-weight:700;">Customer Care</p>
 </ion-item>
<ion-item style="zoom:0.99;" no-lines menuClose (click)="rate()">
 <ion-avatar item-start>
   <img  src="assets/sideimg/rating.svg">
 </ion-avatar>
 <p style="font-size:15px; font-weight:700;">Rate Our App</p>
 </ion-item>

<ion-item style="zoom:0.99;" no-lines menuClose (click)="logout()">
 <ion-avatar item-start>
   <img  src="assets/sideimg/logout.svg">
 </ion-avatar>
 <p style="font-size:15px; font-weight:700;">Logout</p>
 </ion-item>


</ion-list>
</div>


    </ion-content>
  
  </ion-menu>
  
  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

  </div>