<!--
  Generated template for the MmhomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    
   
    MMSilks
    
   
    <ion-buttons end>
      <button  ion-button icon-only  >
        <ion-icon   name="md-cart"></ion-icon>
      </button>
    </ion-buttons>
  
  
  </ion-navbar>
  
  <ion-navbar>
    <button   ion-button small outline style="width:100%; zoom:1.2; " color="lightbuttons">     <span style="font-weight: 500; color:black; font-size:12px;">    <ion-icon name="search"></ion-icon>     &nbsp;    &nbsp;   Search
    </span>   
    </button>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-card  style="border-radius: 15px; " >
  <ion-slides  #homeslider spaceBetween="12"  slidesPerView="1"  centeredSlides loop pager autoplay="5000" speed="1000" style="height:155px; "  >
  
    <ion-slide  > 
     
        <img style="width: 100%; " src="https://mmsilks.com/wp-content/uploads/2019/10/tumbaa-bebo-2-vinay-fashion-wholesaleprice-33910-300x300.jpg"/>
        
      </ion-slide>
    <ion-slide  > 
     
        <img  style="width: 100%;" src="https://mmsilks.com/wp-content/uploads/2019/10/tumbaa-bebo-2-vinay-fashion-wholesaleprice-33910-300x300.jpg"/>
        
      </ion-slide>
  </ion-slides>
</ion-card>

<div class="flex">
    <ion-card class="category" *ngFor="let arr of category"  (click)="subcategory()">
            <img src="{{arr.image}}" alt="categoryimage">
             <p style="text-align: center;">{{arr.nametwo}}</p>
    </ion-card>

</div>

<div style="padding: 3%;">
    <ion-card class="categorytwo" *ngFor="let arr of category"  (click)="subcategory()" style="margin-bottom: 6%; height: 200px; background-size: cover; "  [ngStyle]="{ 'background-image': 'url(' + arr.imagetwo + ')'} ">
         <p style=" position: absolute; margin-top: 75%; margin-left: 5%; color: #fff; font-size: 17px; font-weight: 600;">{{arr.nameone}}</p>
    </ion-card>

</div>

<div class="flex">
    <ion-card class="categorythree" *ngFor="let arr of category"  (click)="subcategory()" style="margin-bottom: 6%; height: 250px; background-size: cover; " [ngStyle]="{ 'background-image': 'url(' + arr.imagethree + ')'} ">
        <ion-buttons >
             
            <ion-icon class="heart" name="heart-outline"></ion-icon>

            
          </ion-buttons> 
            <button  ion-button icon-only  class="cart" >
                <ion-icon style="padding: 10px;"  name="md-cart"></ion-icon>
            </button>
             <p style=" position: absolute;  top: 70%; margin-left: 5%; color: #fff; font-size: 17px; font-weight: 600; ">{{arr.nametwo}}</p>
             <p style=" position: absolute; top: 80%;  margin-left: 5%; color: #fff; font-size: 15px;">This is the category of product</p>
             <p style=" position: absolute; top: 40%; margin-left: 2%; color: #fff; font-size: 15px;">Rs-{{arr.price}}</p>
    </ion-card>

</div>

</ion-content>