

 
<ion-item pager style="height:30%;"> 

    <ion-slides   loop="true">
      <ion-slide >
        <img src="https://cdn.grofers.com/app/images/products/full_screen/pro_387688.jpg" />
      </ion-slide>
      <ion-slide >
        <img src="https://cdn.grofers.com/app/images/products/full_screen/pro_387688.jpg" />
      </ion-slide>
    </ion-slides>

</ion-item>

  
    <ion-item text-wrap style="margin-top:-10px;  padding:0%;" no-lines>  Crunchy cronflakes witeh second sline</ion-item>
    <ion-item style=" padding:0%; "> 
        25$
        <div  style=" float:right;   ">
        <button style="margin:0px;" ion-button small color="dark">-</button>

        <button style="margin:0px; background-color:rgba(255, 255, 255, 0);" ion-button small><div style="color:black; font-weight:900;">2 </div></button>
        <button style="margin:0px;" ion-button small color="dark">+</button>
</div>

    </ion-item>
  
