<!--
  Generated template for the StoresearchresultsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>storesearchresults</ion-title>
    <ion-buttons end>
        <button (click)="back()"  id="notification-button" ion-button icon-only  >
            <ion-icon   name="md-search">               </ion-icon>
          </button>
        </ion-buttons>
  </ion-navbar>

</ion-header>


 
<ion-content #container>  
    <basketloader *ngIf="loaded=='0'" ></basketloader>



<div *ngIf="loaded=='1'" >
  <div  *ngFor="let x of products.records"  > 
<productforlistings [productname]="x.name"   [img]="x.image"    [productid]="x.pid"    [variants]="x.variants"    [productprice]="x.price" [productmrp]="x.mrp"  [productunit]="x.finalunit"   [container]="container"    > </productforlistings>
</div>
</div>
</ion-content>
