<!--
  Generated template for the StorecategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title> Shop By Category</ion-title>

  <ion-buttons end>
    <button (click)="gotosearch()"  id="notification-button" ion-button icon-only  >
        <ion-icon   name="md-search">               </ion-icon>
      </button>
    </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content >
  <basketloader *ngIf="loaded=='0'" ></basketloader> 
  <div *ngIf="loaded=='1'" >

         
    <ion-list-header>
Categories
    </ion-list-header>
  <div  *ngFor="let x of catg.records"  > 


<category [categoryname]="x.cname"   [img]="x.image"    [id]="x.cid"   [categoryarray]="catg.subcategory"  [categoryoffers]="x.categoryoffers"     > </category>
</div>

</div>
</ion-content>
