<ion-header no-shadow>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
    <button ion-button (click)="startApp()" color="primary">Skip</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides pager="true" dir="{{dir}}"  #slides (ionSlideWillChange) ="onSlideChangeStart($event)">
    
    <ion-slide>
      <img src="assets/slide/farm.gif" class="slide-image" />
      <h2 class="slide-title">Native farms</h2>
      <p> Food Staples <b>Procured from selected farms</b> which follows our traditional way of farming.</p>
      <button ion-button icon-end  clear (click)="next()">
        Next
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
    <ion-slide>
      <img src="assets/slide/farmer.gif" class="slide-image" />
      <h2 class="slide-title">Traditional Farming</h2>
      <p> Food Staples produced by<b> Traditional way of farming</b> without any fertilizers and chemicals.</p>
     
      <button ion-button icon-end  clear (click)="next()">
          Next
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
    </ion-slide>
    <ion-slide>
      <img src="assets/slide/money.gif" class="slide-image" />
      <h2 class="slide-title">More Profit For Farmers</h2>
      <p> Buy food staples directly procured from farmers<b> without middle man.</b> Thus more profit yeild for farmers </p>
     
      <button ion-button icon-end  clear (click)="next()">
          Next
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
    </ion-slide>
    <ion-slide>
      <img src="assets/slide/delivery.gif" class="slide-image" />
      <h2 class="slide-title">Farm To Home</h2>
      <p> Food staples brought to your <b> door steps</b> from farm with vey few clicks. </p>
     
      <button ion-button icon-end large clear (click)="startApp()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  
  </ion-slides>
</ion-content>
