<!--
  Generated template for the StoresearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar >
        <ion-title>Search</ion-title>
</ion-navbar>

  <ion-navbar>
      <ion-searchbar placeholder="Search Items"  #input showCancelButton color="danger" (ionInput)="search($event)"></ion-searchbar>
    </ion-navbar>

</ion-header>


<ion-content >
  <div *ngIf="loaded=='1'" > 

    <ion-item *ngIf="data.length=='0'"> 
      <p  text-wrap style="font-size:18px; font-weight:700;">No Items Found</p>

    </ion-item>
    <ion-list>  
  <ion-item  *ngFor="let x of data.result" (click)="gotoresults(x.sid,str)" no-lines >
    <ion-thumbnail  item-start lines>
      <img src="{{x.image}}">
    </ion-thumbnail>
    <p  text-wrap style="font-size:15px; color:black; font-weight:700;">{{str}} in </p> <p  text-wrap style="font-size:18px; font-weight:700;">{{x.sname}} </p>
  



  </ion-item>
</ion-list>

 </div>
      
      
       
</ion-content>
