<!--
  Generated template for the StoresubscribtionlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Daily Subscriptions</ion-title>
  </ion-navbar>

</ion-header>


  
<ion-content >
<basketloader *ngIf="loaded=='0'" > </basketloader>
  <div *ngIf="loaded=='1'"> 

<ion-list>
  <ion-item (click)="gobyday(0)" >
    <ion-avatar item-start>
      <img  src="assets/imgs/sunday.svg">
    </ion-avatar>
    <p style="font-size:15px; font-weight:700;">Sunday</p>
    <button ion-button  color="appcolor" item-end> <span style="font-weight:700;"> {{data.count[0]}} Items </span></button>

   
  </ion-item>
  <ion-item (click)="gobyday(1)">
    <ion-avatar item-start>
      <img  src="assets/imgs/monday.svg">
    </ion-avatar>
    <p style="font-size:15px; font-weight:700;">Monday</p>
    <button ion-button  color="appcolor" item-end> <span style="font-weight:700;"> {{data.count[1]}}  Items </span></button>

   
  </ion-item>
  <ion-item (click)="gobyday(2)">
    <ion-avatar item-start>
      <img  src="assets/imgs/tuesday.svg">
    </ion-avatar>
    <p style="font-size:15px; font-weight:700;">Tueday</p>
    <button ion-button  color="appcolor" item-end> <span style="font-weight:700;"> {{data.count[2]}}  Items </span></button>

   
  </ion-item>
  <ion-item (click)="gobyday(3)">
    <ion-avatar item-start>
      <img  src="assets/imgs/wednesday.svg">
    </ion-avatar>
    <p style="font-size:15px; font-weight:700;">Wednesday</p>
    <button ion-button  color="appcolor" item-end> <span style="font-weight:700;"> {{data.count[3]}}  Items </span></button>

   
  </ion-item>
  <ion-item (click)="gobyday(4)">
    <ion-avatar item-start>
      <img  src="assets/imgs/thursday.svg">
    </ion-avatar>
    <p style="font-size:15px; font-weight:700;">Thursday</p>
    <button ion-button  color="appcolor" item-end> <span style="font-weight:700;"> {{data.count[4]}}  Items </span></button>

   
  </ion-item>
  <ion-item (click)="gobyday(5)">
    <ion-avatar item-start>
      <img  src="assets/imgs/friday.svg">
    </ion-avatar>
    <p style="font-size:15px; font-weight:700;">Friday</p>
    <button ion-button  color="appcolor" item-end> <span style="font-weight:700;"> {{data.count[5]}}  Items </span></button>

   
  </ion-item>
  <ion-item (click)="gobyday(6)">
    <ion-avatar item-start>
      <img  src="assets/imgs/saturday.svg">
    </ion-avatar>
    <p style="font-size:15px; font-weight:700;">Saturday</p>
    <button ion-button  color="appcolor" item-end> <span style="font-weight:700;"> {{data.count[6]}}  Items </span></button>

   
  </ion-item>

</ion-list>
</div>
  </ion-content>
