page-welcome {
    .splash-bg {
      position: relative;
      background: url('../assets/splashbgnew.png') no-repeat transparent;
      background-size: cover;
      height: 45%;
      z-index: 1;
      background-repeat: repeat-x;
      animation: animatedBackground 40s linear infinite;
    }
  
    @keyframes animatedBackground {
      from { background-position: 0 0; }
      to { background-position: 100% 0; }
    }
  
    .splash-info {
      position: relative;
      z-index: 2;
      margin-top: -64px;
      text-align: center;
    }
    .splash-logo {
      margin: auto;
      background: url('../assets/appicon.png') repeat transparent;
      background-size: 100%;
      width: 128px;
      height: 128px;
    }
    .splash-intro {
      font-size: 18px;
      font-weight: bold;
      max-width: 80%;
      margin: auto;
    }
    button.login {
      margin-top: 25px;
      background-color: white;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
      color: #333;
  
      &.activated {
        background-color: rgb(220, 220, 220);
      }
    }
    input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 2px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
  }
  