<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      The starting point for your next great Ionic app
    </div>
  </div>
  <div padding>
    <input type="text" id="fname" name="firstname" placeholder="mobile">
    <button ion-button block (click)="signup()">{{ 'SIGNUP' | translate }}</button>
  </div>
</ion-content>
