<!--
  Generated template for the StorepaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Payment Method</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
   
    <!-- <ion-list radio-group [(ngModel)]="paymenttype"> 
         
        <ion-list-header>
               Payment method
                <button ion-button icon-only item-end clear>
                </button>
              </ion-list-header>

<ion-item no-lines>
 
    <ion-radio    item-left value="cod"></ion-radio>
    <ion-label  style="font-weight:600;"  >   <ion-icon name="cash"></ion-icon>
       &nbsp; Cash on delivery  </ion-label>   
    
  </ion-item>
  
  <ion-item  *ngIf="onlinepay=='yes'" >
 
        <ion-radio   item-left value="online"></ion-radio>
        <ion-label style="font-weight:600;">    <ion-icon name="card"></ion-icon>

           &nbsp; Pay online<span style="font-size:12px;"> </span> </ion-label>   
        
      </ion-item>
 </ion-list> -->
 
</ion-content>

<!-- <div #fot>
  <ion-footer  (click)="placeorder()"    style="background:limegreen;color:white;display:inline-block;font-size:12px;">
    <div *ngIf="wallet>0"  align="center" style="background:rgb(15, 109, 15);color:white; height:20px;" ><span style="font-size:15px;font-weight:800;margin-bottom:-8px; text-align:center;">&nbsp; Amount reduced from wallet : &nbsp; &nbsp; ₹{{amountfromwallet}}
    </span></div>
    
    <ion-item  detail-push style="background:limegreen;color:white;" ><span style="font-size:19px;font-weight:800;margin-bottom:-8px;">&nbsp; ₹{{amounttopay}}
    </span><span item-end style="font-weight:600;font-size:18px;"> Place Order</span></ion-item>
    
   </ion-footer>
  
   </div> -->