<ion-header>
    <ion-navbar style="text-align:center;font-size:16px;font-weight:800;">
      
        Join another
     
    </ion-navbar>
  </ion-header>
  
  <ion-content  style="background-color:#fff;" >
  
    <ion-list >
      <ion-list-header color="head">
        Personal Details
      </ion-list-header>
      
      <ion-item  >
        <ion-label floating>Name</ion-label>
        <ion-input [(ngModel)]="formdata.name" type="text" required></ion-input>
      </ion-item>
    
      <ion-item >
        <ion-label  floating>Father/Husband Name</ion-label>
        <ion-input [(ngModel)]="formdata.surname" type="text" required></ion-input>
      </ion-item>
      
      <br>
      <ion-item>
        <ion-label floating>D.O.B</ion-label>
        <ion-datetime [(ngModel)]="formdata.dob" displayFormat="MM/DD/YYYY" ></ion-datetime>
      </ion-item>
     
      <ion-item >
        <ion-label floating>Email</ion-label>
        <ion-input [(ngModel)]="formdata.email" type="text" required></ion-input>
      </ion-item>
  
      <ion-item >
        <ion-label floating>Mobile</ion-label>
        <ion-input [(ngModel)]="formdata.mobile"  type="text" required></ion-input>
      </ion-item>
      <br>
      <ion-list-header color="head">
        Sponsor details 
       </ion-list-header>
  
       <ion-item >
        <ion-label floating>Sponsor id</ion-label>
        <ion-input [(ngModel)]="formdata.refid" (input)="checksponser()" disabled type="text" required></ion-input>
      </ion-item>
       <ion-item >
        <ion-label floating>Sponsor name</ion-label>
        <ion-input [(ngModel)]="formdata.refname"  type="text" disabled required></ion-input>
       </ion-item>
  
      <br>
  
  
      <ion-list-header color="head">
       Address 
      </ion-list-header>
    
  
      <ion-item >
        <ion-label floating>Address line 1</ion-label>
        <ion-input [(ngModel)]="formdata.line1" type="text" required></ion-input>
      </ion-item>
  
      <ion-item >
        <ion-label floating>Address line 2</ion-label>
        <ion-input [(ngModel)]="formdata.line2" type="text" required></ion-input>
      </ion-item>
  
      
      <ion-item >
        <ion-label floating>Address line 3</ion-label>
        <ion-input [(ngModel)]="formdata.line3" type="text" required></ion-input>
      </ion-item>
  
      <ion-item >
        <ion-label floating>City</ion-label>
        <ion-input [(ngModel)]="formdata.city" type="text" required></ion-input>
      </ion-item>
  
      <ion-item >
        <ion-label floating>State</ion-label>
        <ion-input [(ngModel)]="formdata.state" type="text" required></ion-input>
      </ion-item>
  
      <ion-item >
        <ion-label floating>Pincode</ion-label>
        <ion-input [(ngModel)]="formdata.pincode" type="text" required></ion-input>
      </ion-item>
      <br>
  
      <ion-list-header color="head">
        KYC details 
       </ion-list-header>
      
  
      <ion-item >
        <ion-label floating>PAN</ion-label>
        <ion-input [(ngModel)]="formdata.pan"  type="text" required></ion-input>
      </ion-item>
  
      <ion-item >
        <ion-label floating>Aadhar</ion-label>
        <ion-input [(ngModel)]="formdata.aadhar"   type="text" required></ion-input>
      </ion-item>
  
      <br>
  
      <ion-list-header color="head">
        Bank details 
       </ion-list-header>
  
       
  
       
       <ion-item >
        <ion-label floating>Bank</ion-label>
        <ion-input [(ngModel)]="formdata.bankname" type="text" required></ion-input>
      </ion-item>
  
      <ion-item >
        <ion-label floating>Branch</ion-label>
        <ion-input [(ngModel)]="formdata.branch" type="text" required></ion-input>
      </ion-item>
  
      <ion-item >
        <ion-label floating>Ifsc</ion-label>
        <ion-input [(ngModel)]="formdata.ifsc" type="text" required></ion-input>
      </ion-item>
      <ion-item >
        <ion-label floating>Account no.</ion-label>
        <ion-input [(ngModel)]="formdata.accountnumber" type="text" required></ion-input>
      </ion-item>
      <ion-item >
        <ion-label floating>Verify account no.</ion-label>
        <ion-input [(ngModel)]="formdata.verifyaccountnumber" type="text" required></ion-input>
      </ion-item>
      
  
  
    </ion-list>
    <br>
    <br>
    <br>
    <br>
  
   
   </ion-content>
  
   <div #fot>
    <ion-footer  (click)="update()"     style="background:limegreen;color:white;display:inline-block;font-size:12px;">
      <ion-item  detail-push style="background:limegreen;color:white;" ><span style="font-size:19px;font-weight:800;margin-bottom:-8px;"><ion-icon ios="ios-basket" md="md-basket"></ion-icon>  
      </span><span item-end style="font-weight:600;font-size:18px;">Continue </span></ion-item>
      
     </ion-footer>
    
     </div>