<!--
  Generated template for the ResidencelistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>residencelist</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <jetmanloader  *ngIf="loaded=='0'">  </jetmanloader>
  <div *ngIf="loaded=='1'"> 
    <ion-list >
        <ion-item *ngFor="let x of data.residence" (click)="setresidence(x.id)">
          <ion-thumbnail item-start>
            <img src="{{x.image}}">
          </ion-thumbnail>
          <h2 text-wrap style="font-weight:900;">{{x.name}}</h2>
          <p text-wrap>{{x.city}}</p>
        </ion-item>
      </ion-list>
    </div>
</ion-content>
