<!--
  Generated template for the AddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>address</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <button (click)="goaddaddress()" color="primary" style="font-size:16px; text-align:center; font-weight:900;"  ion-item>
        <ion-icon name="add-circle"></ion-icon>
Add New Address             

</button>
  <div *ngIf="data">

    <ion-card *ngFor="let address of data.address" > 
    <ion-item *ngIf="address.active=='yes'" style="   border-bottom: 3px solid black"> 
        <ion-label style="font-size:16px; font-weight:900;">{{address.nickname.toUpperCase()}}</ion-label>
       


      </ion-item>

    <ion-item *ngIf="address.active=='no'" lines> 
        <ion-label style="font-size:16px; font-weight:900;">{{address.nickname.toUpperCase()}}</ion-label>
        <button   (click)="activeaddress(address.id)"ion-button outline item-end>Select</button>
        <button   (click)="deleteaddress(address.id)"ion-button outline item-end>Delete</button>
       


      </ion-item>
     


      <ion-item no-lines>
<p style="font-size:14px; font-weight:600;">{{address.designation.toUpperCase()}}. {{address.name.toUpperCase()}},</p>
<p style="font-size:14px; font-weight:600;">{{address.line1.toUpperCase()}},</p>
<p style="font-size:14px; font-weight:600;">{{address.line2.toUpperCase()}},</p>
<p style="font-size:14px; font-weight:600;">{{address.line3.toUpperCase()}}.</p>


    

      </ion-item>
      </ion-card>

      </div>

      
</ion-content>
