
<ion-header>

    <ion-navbar>
      <ion-title>Checkout </ion-title>
    </ion-navbar>
    
    
    
    </ion-header>
    <ion-content class="outer-content">

      <basketloader *ngIf="loaded=='0'"></basketloader>
<div >
        <ion-list>
          <ion-list-header>
            Delivery Address 
           
                <button  (click)="gotoaddresspage()"ion-button outline item-end>Change</button>
          </ion-list-header>
          <div> 
            
  
</div>
         <div >
        


          <ion-item no-lines>
 <!-- <p style="font-size:14px; font-weight:600;">{{data.userdata.line1.toUpperCase()}},</p>
 <p style="font-size:14px; font-weight:600;">{{data.userdata.line2.toUpperCase()}},</p>
 <p style="font-size:14px; font-weight:600;">{{data.userdata.line3.toUpperCase()}},</p>
 <p style="font-size:14px; font-weight:600;">{{data.userdata.city.toUpperCase()}}.</p> -->
 <p text-wrap style="font-size:12px; font-weight:700;">   * hii</p> 

  </ion-item> 
      
       
  <ion-list-header>
    Disclaimer
        <button  (click)="gotoaddresspage()"ion-button outline item-end>Read more</button>
  </ion-list-header>
              <ion-item >
                  <p text-wrap style="font-size:12px; font-weight:700;">   * hii</p> 

                  <!-- <p text-wrap style="font-size:12px; font-weight:700;">   * {{data.message1}}</p> 
                  <p text-wrap style="font-size:12px; font-weight:700;">  *  {{data.message2}}</p>  -->
               </ion-item>

              </div>  
        </ion-list>
      
  
      </div>

      <ion-list radio-group [(ngModel)]="paymenttype"> 
         
          <ion-list-header>
                 Payment method
                  <button ion-button icon-only item-end clear>
                  </button>
                </ion-list-header>
  
  <ion-item no-lines>
   
      <ion-radio    item-left value="cod"></ion-radio>
      <ion-label  style="font-weight:600;"  >   <ion-icon name="cash"></ion-icon>
         &nbsp; Cash on delivery  </ion-label>   
      
    </ion-item>
    
    <ion-item  *ngIf="onlinepay=='yes'" >
   
          <ion-radio   item-left value="online"></ion-radio>
          <ion-label style="font-weight:600;">    <ion-icon name="card"></ion-icon>
  
             &nbsp; Pay online<span style="font-size:12px;"> </span> </ion-label>   
          
        </ion-item>
   </ion-list>
      </ion-content>

      <div #fot>
          <ion-footer  (click)="placeorder()"    style="background:limegreen;color:white;display:inline-block;font-size:12px;">
            <div *ngIf="wallet>0"  align="center" style="background:rgb(15, 109, 15);color:white; height:20px;" ><span style="font-size:15px;font-weight:800;margin-bottom:-8px; text-align:center;">&nbsp; Amount reduced from wallet : &nbsp; &nbsp; ₹{{amountfromwallet}}
            </span></div>
            
            <ion-item  detail-push style="background:limegreen;color:white;" ><span style="font-size:19px;font-weight:800;margin-bottom:-8px;">&nbsp; ₹{{amounttopay}}
            </span><span item-end style="font-weight:600;font-size:18px;"> Place Order</span></ion-item>
            
           </ion-footer>
          
           </div>
     
      <!-- <div #fot *ngIf="loaded=='1'">
        <ion-footer  (click)="gopayment()"    style="background:limegreen;color:white;display:inline-block;font-size:12px;">
          <ion-item  detail-push style="background:limegreen;color:white;" >
              <p text-wrap style="font-size:12px; font-weight:700;">   * hii</p> 

              <!-- <span  style="font-size:19px;font-weight:800;margin-bottom:-8px;">&nbsp; ₹{{shared.storecartdetails.price.toFixed(0)}}</span> 
          <span item-end style="font-weight:600;font-size:18px;"> Proceed to Payment </span></ion-item>
          
         </ion-footer>
        
         </div>-->