
<ion-header>

    <ion-navbar>
      <ion-title>Checkout </ion-title>
    </ion-navbar>
    
    
    
    </ion-header>
    <ion-content class="outer-content">

      <basketloader *ngIf="loaded=='0'"></basketloader>
<div *ngIf="loaded=='1'">
        <ion-list>
          <ion-list-header>
            Delivery Address 
                <button  (click)="gotoaddresspage()"ion-button outline item-end>Change</button>
          </ion-list-header>
          <div> 
            
  
</div>
         <div *ngIf="address">
        


          <ion-item no-lines>
 <p style="font-size:14px; font-weight:600;">{{address.name.toUpperCase()}},</p>
 <p style="font-size:14px; font-weight:600;">{{address.line1.toUpperCase()}},</p>
 <p style="font-size:14px; font-weight:600;">{{address.line2.toUpperCase()}},</p>
 <p style="font-size:14px; font-weight:600;">{{address.line3.toUpperCase()}}.</p>
 

        

          </ion-item> 
      
          <ion-list radio-group [(ngModel)]="deliverytype"> 
         
                <ion-list-header>
                        Delivery Time
                        <button ion-button icon-only item-end clear>
                          <ion-icon name="time"></ion-icon>
                        </button>
                      </ion-list-header>
    <ion-item no-lines>
         
            <ion-radio    item-left value="typeslot"></ion-radio>
            <ion-label  style="font-weight:600;"  >  <ion-icon name="car"></ion-icon>
               &nbsp; Delivery Slot  </ion-label>   <ion-badge item-end>Free</ion-badge>
            
          </ion-item>
          <div  *ngIf="deliverytype=='typeslot'"  style="margin-top:5px;"> 

              <ion-item>
                  <ion-label style="font-weight:700;">date</ion-label>
                  <ion-select [(ngModel)]="notifications" interface="action-sheet">
                    <ion-option value="mute_15" selected>Monday (6 am to 7 am)</ion-option>
                    <ion-option value="mute_1">For 1 Hour</ion-option>
                    <ion-option value="mute_23">For 24 Hours</ion-option>
                    <ion-option value="mute_inf">Until I turn it back on</ion-option>
                  </ion-select>
                </ion-item>

                
          <ion-segment *ngIf="ooo=='typeslot'" mode="md"[(ngModel)]="slott" color="primary" style="height:50px; background-color:white;">
           
            <ion-segment-button   value="{{data.date[0].datee}}" text-wrap style="height:50px;     line-height: 2.5rem !important;  "   >
              <div style="font-size:18px;"> {{data.date[0].day.substring(0, 3)}}<br>
              </div><div>{{data.date[0].date}}</div><br>

            </ion-segment-button>
            <ion-segment-button   value="{{data.date[1].datee}}" text-wrap style="height:50px;     line-height: 2.5rem !important;  "   >
              <div style="font-size:18px;"> {{data.date[1].day.substring(0, 3)}}<br>
              </div><div>{{data.date[1].date}}</div><br>

            </ion-segment-button>
            <ion-segment-button   value="{{data.date[2].datee}}" text-wrap style="height:50px;     line-height: 2.5rem !important;  "   >
              <div style="font-size:18px;"> {{data.date[2].day.substring(0, 3)}}<br>
              </div><div>{{data.date[2].date}}</div><br>

            </ion-segment-button>
            
            
        
       
          </ion-segment>
          <div *ngIf="ooo=='typeslot'">
          <div [ngSwitch]="slott"  *ngFor="let x of data.date"   >
            <ion-list *ngSwitchCase="x.datee" >
                <ion-list radio-group [(ngModel)]="slotid" >
                    <div *ngFor="let z of data.slot; let fst = first;" > 
                    <ion-item  *ngIf="z.datee==x.datee" >
                      <ion-label style="font-size:13px; font-weight:600;"> {{z.time}}</ion-label>
                      <ion-radio   value="{{z.slotid}}"></ion-radio>
                    </ion-item>
                   </div>
                  
                  
                  
                  </ion-list>
            </ion-list>
          
           
          </div>
          </div>
          </div>

          <ion-item   >
         
                <ion-radio   item-left value="typeexpress"></ion-radio>
                <ion-label style="font-weight:600;">  <ion-icon name="bicycle"></ion-icon>
                   &nbsp; Express Delivery<span style="font-size:12px;">(30 mins.) </span> </ion-label>   <ion-badge item-end>₹ {{finalexpressdeliverycharge}}</ion-badge>
                
              </ion-item>
              <ion-item *ngIf="deliverytype=='typeexpress'" >
           not delivery for fresh
              </ion-item>
         </ion-list>
         
              </div>  
        </ion-list>
      
  
      </div>
      </ion-content>
      <ion-footer>
          <button  (click)="gopayment()"color="primary" style="text-align:center; " ion-item>
              Proceed to Payment
            </button>
      </ion-footer>
      <div #fot>
        <ion-footer  (click)="gopayment()"    style="background:limegreen;color:white;display:inline-block;font-size:12px;">
          <ion-item  detail-push style="background:limegreen;color:white;" ><span style="font-size:19px;font-weight:800;margin-bottom:-8px;">&nbsp; ₹{{shared.storecartdetails.price}}
          </span><span item-end style="font-weight:600;font-size:18px;"> Proceed to Payment </span></ion-item>
          
         </ion-footer>
        
         </div>