<!-- Generated template for the TapsComponent component -->
<div>

    <!-- <div class="swiper-container nav">
       <div class="swiper-wrapper">
          <div class="swiper-slide"></div>
          <div class="swiper-slide"></div>
          <div class="swiper-slide"></div>
          <div class="swiper-slide"></div>
          <div class="swiper-slide"></div>
       </div>
    </div> -->
    <!-- <div class="swiper-container view">
       <div class="swiper-wrapper">
          <div class="swiper-slide">
             <div class="swiper-container content">
                <div class="swiper-wrapper">
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                </div>
                <div class="swiper-scrollbar"></div>
             </div>
          </div>
          <div class="swiper-slide">
             <div class="swiper-container content">
                <div class="swiper-wrapper">
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                </div>
                <div class="swiper-scrollbar"></div>
             </div>
          </div>
          <div class="swiper-slide">
             <div class="swiper-container content">
                <div class="swiper-wrapper">
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                </div>
                <div class="swiper-scrollbar"></div>
             </div>
          </div>
          <div class="swiper-slide">
             <div class="swiper-container content">
                <div class="swiper-wrapper">
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                </div>
                <div class="swiper-scrollbar"></div>
             </div>
          </div>
          <div class="swiper-slide">
             <div class="swiper-container content">
                <div class="swiper-wrapper">
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                   <div class="swiper-slide">
                      <div></div>
                   </div>
                </div>
                <div class="swiper-scrollbar"></div>
             </div>
          </div>
       </div>
    </div> -->
 <ion-card style="margin: 0px; overflow: visible;">
    <div class="bottom">

        <a class="carts" (click)="cart()" >
            <ion-buttons  style="font-size: 25px;  font-weight: 800;"  >
              <ion-icon  name="ios-cart-outline" md="md-cart">
                  <ion-badge color="accent">5</ion-badge>
            </ion-icon>
              </ion-buttons> 
         
           </a>
   
           <a href="#"  class="hearts"  (click)="heart()"> 
               <ion-buttons  style="font-size: 25px;  font-weight: 800;"   >
              <ion-icon   ios="ios-heart-outline" md="md-heart-outline">

              </ion-icon>
              </ion-buttons> 
              
            </a>
            <a href="#"  class="whats"> <ion-buttons  style="font-size: 30px;"   >
                  <ion-icon name="logo-whatsapp"></ion-icon>
                  </ion-buttons> 
                </a>

       <a class="share">
            <ion-buttons  style="font-size: 25px;  font-weight: 800;"   >
            <ion-icon name="md-share"></ion-icon>
        </ion-buttons> 
      </a>
    
       
      
      <a href="#"  class="hearts"> <ion-buttons style="font-size: 25px;  font-weight: 800;"   >
            <ion-icon name="information-circle-outline"></ion-icon>
            </ion-buttons> 
          </a>
    </div>

  </ion-card>
 



</div>
