taps {
     .bottom{
        width: 100%;
         position: fixed;
        bottom: 0px;
         background: #33b2ea;
         border-radius: 15px 15px 0px 0px ;
         box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);

     

        a{      text-align: center;
                 display: inline-block;
                 position: relative;
                 padding: 7px; 
        }   
        
        .carts,.hearts,.whats{
         
          // border: solid 1px #fff;
          width: 14%;
          // border-radius: 50%;
          margin-left: 17px;
          color: #fff;
           margin-top: -10px;
          // margin-bottom: 10px;
          }
          .hearts{
            margin-left: 10px;
          }
          .whats{
            border: solid 3px #fff;
        border-radius: 50%;
            width: 15%;
            padding: 8px; 
            margin-left: 5px;
            top: -20px;
            background-color: #52cd60;
          }

          
         .share{
            width: 10%;
            margin-left: 30px;
            color: #fff;
          }
          ion-badge {
            position: absolute;
            top: -0.7rem;
            right: -0.5rem;
            opacity: 0.9;
        
            & ~ ion-icon {
              margin-right: 1.2rem;
            }
          }
  

}
}
