<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">   <ion-icon style="zoom:1.5;" name="arrow-back"></ion-icon>
       &nbsp; Back</button>
    </ion-buttons>
    <ion-title>Subscription</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <basketloader *ngIf="loaded=='0'"> </basketloader>
<div *ngIf="loaded=='1'"> 
  <ion-list   style="margin-bottom:0px;"  *ngIf="productdeatailsloaded=='1'"> 
    <ion-item >
                <ion-thumbnail item-start>
            <img  style=" zoom:1.8;"src="{{img}}">
          
          </ion-thumbnail>
         
    
          <p text-wrap style="  padding:0%;"> {{productname}}</p>
          <p text-wrap style=" padding:0%;">{{productunit}}</p>
          <p style="font-size:18px; color:rgb(170, 118, 118); font-weight:400;  color:black; float:left;"> ₹{{productprice}}<del *ngIf="productprice!=productmrp" style="font-size:13px;  color:rgb(145, 136, 125);"> ₹{{productmrp}}</del></p>

        
         
     
        </ion-item>



        
    </ion-list>
    <ion-list-header>
        <ion-label>

    Start date : </ion-label>
<button style="margin-left:24%; font-size:16px; font-weight:700;" ion-button  small   color="dark"  icon-start item-end>
    <ion-icon name="md-calendar"></ion-icon>

    <ion-datetime  color="dark" [(ngModel)]="item['startdate']"  placeholder="DOB" displayFormat="MMMM DD" ></ion-datetime>

  </button>
</ion-list-header>


    <ion-list>
      
      
      <ion-list-header>
        Select count for each day.
      </ion-list-header>
  
      <ion-item  no-lines  >
        <div style="display:inline-block;">   <ion-icon name="analytics" color="dark" style="zoom:1" isActive></ion-icon>   &nbsp;     <span style="font-size:18px; font-weight:900; "> Sunday </span> </div>
 
        <div  item-end style="display:inline-block;">  
                <button style="margin:0px; font-weight:900;" (click)="sub('sunday')" ion-button small color="dark">-</button>
         <button style="margin:0px; font-weight:700;" ion-button small color="light"> {{item['sunday']}}</button>
         <button style="margin:0px; font-weight:700;" (click)="add('sunday')" ion-button small color="dark">+</button>
      </div>  </ion-item>
     
      <ion-item  no-lines  >
        <div style="display:inline-block;">   <ion-icon name="analytics" color="dark" style="zoom:1" isActive></ion-icon>   &nbsp;     <span style="font-size:18px; font-weight:900; "> Monday </span> </div>
 
        <div  item-end style="display:inline-block;">  
                <button style="margin:0px; font-weight:900;" (click)="sub('monday')" ion-button small color="dark">-</button>
         <button style="margin:0px; font-weight:700;" ion-button small color="light"> {{item['monday']}}</button>
         <button style="margin:0px; font-weight:700;" (click)="add('monday')" ion-button small color="dark">+</button>
      </div>  </ion-item>
     
      <ion-item  no-lines  >
        <div style="display:inline-block;">   <ion-icon name="analytics" color="dark" style="zoom:1" isActive></ion-icon>   &nbsp;     <span style="font-size:18px; font-weight:900; "> Tuesday </span> </div>
 
        <div  item-end style="display:inline-block;">  
                <button style="margin:0px; font-weight:900;" (click)="sub('tuesday')" ion-button small color="dark">-</button>
         <button style="margin:0px; font-weight:700;" ion-button small color="light"> {{item['tuesday']}}</button>
         <button style="margin:0px; font-weight:700;" (click)="add('tuesday')" ion-button small color="dark">+</button>
      </div>  </ion-item>
     
      <ion-item  no-lines  >
        <div style="display:inline-block;">   <ion-icon name="analytics" color="dark" style="zoom:1" isActive></ion-icon>   &nbsp;     <span style="font-size:18px; font-weight:900; "> Wednesday </span> </div>
 
        <div  item-end style="display:inline-block;">  
                <button style="margin:0px; font-weight:900;" (click)="sub('wednesday')" ion-button small color="dark">-</button>
         <button style="margin:0px; font-weight:700;" ion-button small color="light"> {{item['wednesday']}}</button>
         <button style="margin:0px; font-weight:700;" (click)="add('wednesday')" ion-button small color="dark">+</button>
      </div>  </ion-item>
     
      <ion-item  no-lines  >
        <div style="display:inline-block;">   <ion-icon name="analytics" color="dark" style="zoom:1" isActive></ion-icon>   &nbsp;     <span style="font-size:18px; font-weight:900; "> Thursday </span> </div>
 
        <div  item-end style="display:inline-block;">  
                <button style="margin:0px; font-weight:900;" (click)="sub('thursday')" ion-button small color="dark">-</button>
         <button style="margin:0px; font-weight:700;" ion-button small color="light"> {{item['thursday']}}</button>
         <button style="margin:0px; font-weight:700;" (click)="add('thursday')" ion-button small color="dark">+</button>
      </div>  </ion-item>
     
      <ion-item  no-lines  >
        <div style="display:inline-block;">   <ion-icon name="analytics" color="dark" style="zoom:1" isActive></ion-icon>   &nbsp;     <span style="font-size:18px; font-weight:900; "> Friday </span> </div>
 
        <div  item-end style="display:inline-block;">  
                <button style="margin:0px; font-weight:900;" (click)="sub('friday')" ion-button small color="dark">-</button>
         <button style="margin:0px; font-weight:700;" ion-button small color="light"> {{item['friday']}}</button>
         <button style="margin:0px; font-weight:700;" (click)="add('friday')" ion-button small color="dark">+</button>
      </div>  </ion-item>
     
      <ion-item  no-lines  >
        <div style="display:inline-block;">   <ion-icon name="analytics" color="dark" style="zoom:1" isActive></ion-icon>   &nbsp;     <span style="font-size:18px; font-weight:900; "> Saturday </span> </div>
 
        <div  item-end style="display:inline-block;">  
                <button style="margin:0px; font-weight:900;" (click)="sub('saturday')" ion-button small color="dark">-</button>
         <button style="margin:0px; font-weight:700;" ion-button small color="light"> {{item['saturday']}}</button>
         <button style="margin:0px; font-weight:700;" (click)="add('saturday')" ion-button small color="dark">+</button>
      </div>  </ion-item>
     
            
    </ion-list>
    </div>
</ion-content>
<div #fot *ngIf="loaded=='1'">
  <ion-footer *ngIf="sdata.status=='norecords'" (click)="subscribe()"   style="background:limegreen;color:white;display:inline-block;font-size:12px;">
    <ion-item  detail-push  no-lines style="background:limegreen;color:white; font-weight:600;font-size:18px; text-align:center;  " >
    &nbsp; Subscribe
   </ion-item>
    
   </ion-footer>

  <ion-footer *ngIf="sdata.status=='sucess'" style="color:white;display:inline-block;font-size:12px;">
    <ion-item (click)="unsubscribe()"  no-lines  style="background:rgb(224, 60, 60);color:white; height:100% !important;   font-weight:600;font-size:18px; text-align:center; margin-bottom:-2.5px; width:49.3%; display:inline-block;" >
   Unsubscribe </ion-item>
    
   
    <ion-item (click)="subscribe()" no-lines  style="background:limegreen;color:white;  font-weight:600;font-size:18px; text-align:center; height:100% !important; margin-left:-3px;  margin-bottom:-2.5px; width:50.3%; display:inline-block;" >
   Update </ion-item>
    
   
   
   
   </ion-footer>
  
   </div>