<!--
  Generated template for the OrdersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar  hideBackButton>
      <ion-title>Thank You</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding style="background-color:rgb(192, 229, 71);">
      <jetmanloader *ngIf="loaded=='0'"></jetmanloader>
  
    <div *ngIf="loaded=='1'"> 
    
  </div>
  <div [ngClass]="class" id="my-node"  style="zoom:0.8" style="background-color:rgb(192, 229, 71);" (click)="click()">
      <div class="medallion"></div>
    
      <div class="ribbon-1">
        <span class="inner">
                      <span class="fadeLeft">Farmlife</span> 
        </span>
      </div> 
    
      <div class="ribbon-2">
        <span class="inner">
                    <span class="fadeRight">Member</span>
        </span>
      </div>
    
      <div class="ribbon-3">
        <span class="inner">
                    <span class="fadeLeft">Your contribution to farmers</span>
        </span>
      </div>
    
      <div class="ball fadeIn">
        <span class="ball-text">
                       <strong>₹1,000</strong>
                       by purchasing directly
                  </span>
      </div>
    </div>
  </ion-content>

  <ion-footer >
      <button ion-button style="width:47.9%;"  (click)="click()" >Share</button>
      <button ion-button style="width:48%;" (click)="gohome()" >Continue Shopping</button>
  </ion-footer>