<!--
  Generated template for the MmcategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>mmcategory</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div>
    <ion-card class="category" *ngFor="let arr of subcategories" (click)="subcategory(arr.id)"  style=" height: 200px;  background-size:cover; "  [ngStyle]="{ 'background-image': 'url(' + arr.image.src + ')'} ">
         <!-- <p style=" position: absolute; margin-top: 65%; margin-left: 5%; color: #fff; font-size: 17px; font-weight: 600;">{{arr.price}}</p> -->
         <!-- <p style=" position: absolute; margin-top: 75%; margin-left: 5%; color: #fff; font-size: 17px; font-weight: 600;">{{arr.nameone}}</p> -->
    </ion-card>

</div>
<!-- <mmsubcategory>
  
</mmsubcategory> -->



</ion-content>
