<div class="cssload-body" style="top:50%">
		<span>
				<span style="background-color:black;"></span>
				<span style="background-color:black;"></span>
				<span style="background-color:black;"></span>
				<span style="background-color:black;"></span>
				<span style="background-color:black;"></span>
				<span style="background-color:black;"></span>
				<span style="background-color:black;"></span>
				<span style="background-color:black;"></span>
				<span style="background-color:black;"></span>
				<span style="background-color:black;"></span>
				
				
		</span>
		<div class="cssload-base" >
				<span></span>
				<div class="cssload-face" ></div>
		</div>
</div>
<div class="cssload-longfazers">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</div>