<!-- Generated template for the ProductinswishComponent component -->
<ion-card style="height: 145px;width: 100%; margin-left: -1px;">
    <ion-list (click)="gotoproductdetails(productid)"  > 
        <ion-item style="margin-bottom:-45px; margin-right:0px;"   >
                    <ion-thumbnail item-end>
                <img  style=" zoom:1.5; margin-top: -8px; width: 78px; height: 78px;" [defaultImage]="'assets/placeholders/product.png'" [lazyLoad]="img"   [offset]="100" [scrollObservable]="container.ionScroll" />
                <!-- <div item-end  (click)="nothing($event)"  style="position: absolute;" > 
        
                    <button *ngIf="count>0" style="margin:0px; font-weight:700;" (click)="sub($event)"  ion-button small color="dark">-</button>
                    <button *ngIf="count==0" style="margin:-10px; font-weight:700; width:72px;" (click)="add($event)" ion-button small color="dark">ADD</button>
            
                    <button (click)="nothing($event)"  *ngIf="count>0" style="margin:0px;  font-weight:700; background-color:rgba(255, 255, 255, 0);" ion-button small><div style="color:black; font-size:15px; font-weight:900;">{{count}} </div></button>
                    <button style="margin:0px; font-weight:700;" (click)="add($event)" ion-button small color="dark">+</button>
                   
            
            </div> -->
              </ion-thumbnail>
             
                    
              <p text-wrap style="color:black;  padding:0%; margin-bottom: 10px; font-size: 18px; font-weight: 600;">  {{productname}}</p>
              <p style="font-size:16px; color:rgb(170, 118, 118); font-weight:700;  margin-left:0px; color:black; float:left;"> ₹{{productprice}} <del *ngIf="productprice<=productmrp" style="font-size:13px;  color:rgb(145, 136, 125); margin-left: 5px;"> ₹{{productmrp}}</del></p>
        <br>
                           <button style=" width:120px; zoom:0.5; font-size:20px; font-weight:800; left: -195px;"  *ngIf="(100-((productprice/productmrp)*100)).toFixed(0)>0" (click)="subscription($event)" ion-button small  outline   color="dark">{{(100-((productprice/productmrp)*100)).toFixed(0)}}% OFF 
                           </button>
              <!-- <p text-wrap style=" padding:0%; ">{{productunit}}</p> -->
              <div *ngIf="variants!='no'">
              <button  (click)="openSelect()" style="margin-top:-30px;" ion-button  outline  color="dark">{{productunit}} &nbsp;  <ion-icon name="arrow-down"></ion-icon>      </button>
              <ion-item style="display:inline-block; width:0px;"> 
              <ion-select  [(ngModel)]="vari"  #mySelect>
                  <div  *ngIf="optionsloaded=='1'">
                      <div *ngFor="let x of product.variants" > 
                  <ion-option value="{{x.pid}}" (ionSelect)="changevariant(x.pid)" >{{x.finalunit}}</ion-option>
        
        
                      </div>
        
        
                  </div>
        
                </ion-select>
              </ion-item>
             </div>
            </ion-item>
        
        </ion-list>
    </ion-card>