
  
  <ion-scroll scrollX="true" #target [ngStyle]="{ 'background-image': 'url(' + img + ')', 'background-color':'rgb(' + color + ')' }"  style='white-space:nowrap; height: 265px;      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;         '>
    <div >
  <!--
      <ion-card style="display:inline-block; position:absolute; height:240px; box-shadow: none;  width:180px; background-color:rgba(0, 0, 0, 0); ">
  
        </ion-card>
margin-left:170px;
      -->
  <div *ngIf="loaded=='1'" [ngStyle]="{ 'background-color':'rgb(' + color + ')' }" style="display:inline-block; margin-left:10px;   "> 
        <productforstorehome  *ngFor="let x of data.product"  [offertype]="offertype"  [productunit]="x.finalunit" [id]="x.pid"  [name]="x.name" [img]="x.imagelow" [mrp]="x.mrp" [price]="x.price" [itemlimit]="x.itemlimit" [stock]="x.stock"  [price]="x.stock"   [target]="target"  > 
      
        </productforstorehome>
          
  </div>
        
          
    </div>

  </ion-scroll>
  
  