<ion-card *ngIf="status=='open'">

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0xtxUTUlsGmhMsovXNTDLVied13hrk621stxir2jHOG-6xOrv">
  
    <ion-item>
     <img *ngIf="type=='veg'" src="assets/imgs/veg.svg" item-start  style="height:25px; width:25px;">
     <img *ngIf="type=='nonveg'" src="assets/imgs/nonveg.svg" item-start  style="height:25px; width:25px;">
      <p style="font-size:18px; font-weight:700; color:black;">{{hotelname}}</p>
      <p style="font-size:12px;">{{type}} - Chinese</p>
      <span style="font-size:13px;" item-end>{{duration}} min</span>
      
    </ion-item>  
  </ion-card>

   
  <ion-card *ngIf="status=='closed'">


      <div class="image-container">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0xtxUTUlsGmhMsovXNTDLVied13hrk621stxir2jHOG-6xOrv" alt="Avatar" class="image" style="width:100%">
          <div class="after"></div>
<div class="closed">Closed</div>
       </div>
 
     <ion-item>
        <img *ngIf="type=='veg'" src="assets/imgs/veg.svg" item-start  style="height:25px; width:25px;">
     <img *ngIf="type=='nonveg'" src="assets/imgs/nonveg.svg" item-start  style="height:25px; width:25px;">
        <p style="font-size:18px; font-weight:700; color:black;">{{hotelname}}</p>
         <p style="font-size:12px;">{{type}} - Indian</p>
         <span style="font-size:13px;" item-end>{{duration}} min</span>
         
       </ion-item>  
     </ion-card>