hotels {
    .image-container {
        position: relative;
       
    }
    .image-container .after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        color: #FFF;
        background: rgba(0, 0, 0, .6);

    }
    
    .closed{
        position: absolute;
        top: 35%;
        left: 34%;
        color: #FFF;
        font-size: 30px;
        font-weight: 900;
    }
        
}
