<!--
  Generated template for the ServicecategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar >
    <ion-title>Services</ion-title>
  </ion-navbar>

</ion-header>

 
<ion-content >
    <super-tabs scrollTabs selectedTabIndex="{{selected}}" toolbarBackground="servicetabs" (tabSelect)="onTabSelect($event)">
        <super-tab [root]="subcatgegory"  [rootParams]="{subcategoryid : 1}" title="Beauty & Salon"></super-tab>
        <super-tab [root]="subcatgegory"  [rootParams]="{subcategoryid : 2}" title="Appliance Repair"></super-tab>
        <super-tab [root]="subcatgegory"  [rootParams]="{subcategoryid : 3}" title="Home Cleaning & Reapirs"></super-tab>
        <super-tab [root]="subcatgegory"  [rootParams]="{subcategoryid : 4}" title="Moving Homes"></super-tab>
        <super-tab [root]="subcatgegory"  [rootParams]="{subcategoryid : 5}" title="Health & Fitness"></super-tab>
        <super-tab [root]="subcatgegory"  [rootParams]="{subcategoryid : 6}" title="Painting & Renovation"></super-tab>
        <super-tab [root]="subcatgegory"  [rootParams]="{subcategoryid : 7}"  title="Automobile Repairs"></super-tab>
        <super-tab [root]="subcatgegory"  [rootParams]="{subcategoryid : 8}"  title=" Laundry"></super-tab>
        <super-tab [root]="subcatgegory"  [rootParams]="{subcategoryid : 9}"  title=" Tours & Travels"></super-tab>
        <super-tab [root]="subcatgegory"  [rootParams]="{subcategoryid : 10}"  title="Weddings & Events"></super-tab>
        <super-tab [root]="subcatgegory"  [rootParams]="{subcategoryid : 11}"  title="Tutors & Lessons"></super-tab>
        <super-tab [root]="subcatgegory"  [rootParams]="{subcategoryid : 12}"  title="Business"></super-tab>
        
      </super-tabs>
</ion-content>
