<!--
  Generated template for the OrdersPage page.
 
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header *ngIf="header!='yes'">
 

  <ion-navbar>
    <ion-title>My Bookings </ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
      <jetmanloader *ngIf="loaded=='0'"></jetmanloader>
        

    <div *ngIf="loaded=='1'"> 
        <div *ngIf="data.status=='noorder'"> 
       <ion-item > 
         <h3 align="center"  style="text-align:center; "> You have not yet booked any service.</h3>
       </ion-item>
        </div>
    <ion-card style="padding: 0px 0px 0px 0px;"  *ngFor="let x of data.product" >
        <ion-card-header style="padding: 0% 0% 0% 3%;">
            <ion-item text-wrap style="padding: 0px 0px 0px 0px;">
                <p style="font-size:12px;font-weight:700;">Booking time: {{x.timestamp}}</p>
               
               
              </ion-item>
         
        </ion-card-header>
        <ion-card-content >
         
            <ion-item text-wrap style="padding: 0px 0px 0px 0px;" >
            <ion-avatar item-start style="height:20px;width:20px;padding: 0px 0px 0px 0px;">
                <img src="https://www.svgrepo.com/show/57580/store.svg">
              </ion-avatar>
              <div style="font-size:12px;font-weight:700;width:100%;padding: 0px 0px 0px 0px;"> {{x.servicename}}<span style="text-align:right;">&nbsp;  &nbsp;  </span></div>
                             <p style="font-size:12px;font-weight:500;width:100%;color:lightslategray;"> Order Id:&nbsp;{{x.id}}</p>

</ion-item>
              <ol class="progress-meter" *ngIf="x.status=='requested'">
                  <li class="progress-point done" style="font-weight:500;">Requested</li><li class="progress-point todo" style="font-weight:500;">Accepted</li><li class="progress-point todo" style="font-weight:500;">Completed</li><li class="progress-point todo" style="font-weight:500;">Paid</li>
                </ol>


              <ol class="progress-meter" *ngIf="x.status=='accepted'">
                  <li class="progress-point done" style="font-weight:500;">Requested</li><li class="progress-point done" style="font-weight:500;">Accepted</li><li class="progress-point todo" style="font-weight:500;">Completed</li><li class="progress-point todo" style="font-weight:500;">Paid</li>
                </ol>

              <ol class="progress-meter" *ngIf="x.status=='completed'">
                  <li class="progress-point done" style="font-weight:500;">Requested</li><li class="progress-point done" style="font-weight:500;">Accepted</li><li class="progress-point done" style="font-weight:500;">Completed</li><li class="progress-point todo" style="font-weight:500;">Paid</li>
                </ol>

              <ol class="progress-meter" *ngIf="x.status=='paid'">
                  <li class="progress-point done" style="font-weight:500;">Requested</li><li class="progress-point done" style="font-weight:500;">Accepted</li><li class="progress-point done" style="font-weight:500;">Completed</li><li class="progress-point done" style="font-weight:500;">Paid</li>
                </ol>
                


              <ion-row >
                  <ion-col *ngIf="status!='delivered'">
                     
                   
                  </ion-col>
                 
                 
                </ion-row>
              </ion-card-content>


             
             
      </ion-card>
      
       </div>
   
 
</ion-content>