

    <ion-list (click)="gotoproductdetails(productid)" > 
        <ion-item style="margin-bottom:-45px; margin-right:0px; "   >
                    <ion-thumbnail item-start>
                            <ion-slides  style="height:39%;"  >
                            <ion-slide style="align-content: center;" >

                      <ion-card>

                <img *ngIf="img!=''" style=" zoom:1.5;" [defaultImage]="'assets/placeholders/product.png'" [lazyLoad]="img"   [offset]="100"  [scrollObservable]="container.ionScroll" />
                <img *ngIf="img==''"  style=" zoom:1.5;" [defaultImage]="'assets/placeholders/product.png'" [lazyLoad]="'assets/placeholders/product.png'"   [offset]="100"  [scrollObservable]="container.ionScroll"  />
</ion-card>
</ion-slide>
                            </ion-slides>
              </ion-thumbnail>
             
         
            
                            
                        
                    
              <p text-wrap style="color:black;  padding:0%; font-size:15px; font-weight:700;">  {{productname}}</p>
              <p text-wrap style=" padding:0%; ">{{productunit}}</p>
                         <ion-item style="   padding-right:-10%; " no-padding> 
        
                  
                           <p style="font-size:15px; color:rgb(170, 118, 118); font-weight:900;  margin-left:0px; color:black; float:left;"> ₹{{productprice}} <del *ngIf="productprice<=productmrp" style="font-size:13px;  color:rgb(145, 136, 125);"> ₹{{productmrp}}</del></p>
        


                           <div item-end (click)="nothing($event)"  style=" float:right;  margin-right:0px; "> 

                            <button *ngIf="count>0" style="margin:0px; font-weight:700;" (click)="sub($event)"  ion-button small color="foodbutton">-</button>
                            <button *ngIf="count==0" style="margin:-10px; font-weight:700; width:72px;" (click)="add($event)" ion-button small color="foodbutton">ADD</button>
                            
                            <button (click)="nothing($event)"  *ngIf="count>0" style="margin:0px;  font-weight:700; background-color:rgba(255, 255, 255, 0);" ion-button small><div style="color:black; font-size:15px; font-weight:900;">{{count}} </div></button>
                            <button style="margin:0px; font-weight:700;" (click)="add($event)" ion-button small color="foodbutton">+</button>
                            
                            
                            </div>
            </ion-item>
         
        
            </ion-item>
        
        </ion-list>
        