<!--
  Generated template for the WalletPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>wallet</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <basketloader *ngIf="loaded=='0'">  </basketloader>
  <div *ngIf="loaded=='1'"> 

  
  <div class="card-background-page">

    <ion-card>
        <ion-card-header style="color: rgb(255, 255, 255);">
            Your AD-PAY balance
          </ion-card-header>
      <div class="card-title"> {{data.balance}}</div>
    </ion-card>


  </div>
  <ion-list-header>
      Trasactions
    </ion-list-header>
    <div  *ngIf="transloaded=='1' && type=='payin'">
     
<div *ngFor="let x of transactiondata.user">
      <ion-card *ngIf="x.type=='order'">
      <ion-item>
            <ion-icon name="cash" item-start large ></ion-icon>
            <h2 style="font-weight:700; font-size:14px;">Credit for purchase</h2>
            <p style="font-weight:700; font-size:10px;" >Transaction ID: {{x.id}} </p>
          </ion-item>  
          <ion-item>
            <span style="font-weight:700; font-size:12px;" item-start>{{x.date}} {{x.time}}</span>
           
            <span style="font-weight:700; " item-end>+ {{x.amount}}</span>

          </ion-item>
        
        </ion-card>
      <ion-card *ngIf="x.type=='debit'">
      <ion-item>
            <ion-icon name="cash" item-start large ></ion-icon>
            <h2 style="font-weight:700; font-size:14px;">Debit for purchase</h2>
            <p style="font-weight:700; font-size:10px;" >Transaction ID: {{x.id}} </p>
          </ion-item>  
          <ion-item>
            <span style="font-weight:700; font-size:12px;" item-start>{{x.date}} {{x.time}}</span>
           
            <span style="font-weight:700; " item-end>- {{x.amount}}</span>

          </ion-item>
        
        </ion-card>
      <ion-card *ngIf="x.type=='referal'">
      <ion-item>
            <ion-icon name="cash" item-start large ></ion-icon>
            <h2 style="font-weight:700; font-size:14px;">Credit for refereing</h2>
            <p style="font-weight:700; font-size:10px;" >Transaction ID: {{x.id}} </p>
          </ion-item>  
          <ion-item>
            <span style="font-weight:700; font-size:12px;" item-start>{{x.date}} {{x.time}}</span>
           
            <span style="font-weight:700; " item-end>+ {{x.amount}}</span>

          </ion-item>
        
        </ion-card>

    </div>
 </div>

    <div  *ngIf="payoutloaded=='1' && type=='payout'">
     
<div *ngFor="let x of payoutdata.user">
      <ion-card *ngIf="x.type=='cash'">
      <ion-item>
            <ion-icon name="cash" item-start large ></ion-icon>
            <h2 style="font-weight:700; font-size:14px;">Debit for payout</h2>
            <p style="font-weight:700; font-size:10px;" >Transaction ID: {{x.id}} </p>
            <ion-badge color="secondary" item-end>{{x.status}}</ion-badge>

          </ion-item>  
          <ion-item>
            <span style="font-weight:700; font-size:12px;" item-start>{{x.date}} {{x.time}}</span>
           
            <span style="font-weight:700; " item-end>- {{x.amount}}</span>

          </ion-item>
        
        </ion-card>
   

    </div>
 </div>

  
  
  
</div>
</ion-content>
<ion-footer>
  <ion-segment mode="md" [(ngModel)]="type" color="secondary">
    <ion-segment-button value="payin">
   Payin 
  </ion-segment-button>
    <ion-segment-button value="payout">
            Payout

    </ion-segment-button>
  </ion-segment>  </ion-footer>
