

        <ion-card   (click)="gotoproductdetails(productid)"   class="listcard" >
            <!--    <ion-badge  *ngIf="(100-((productprice/productmrp)*100)).toFixed(0)>0" style="border-style:solid;  background-color:rgb(238, 241, 234); border-width:0.9px;  position:absolute; color:rgb(26, 185, 26); margin-top:5px; margin-left:10px;; float:left;  " color="off"> {{(100-((productprice/productmrp)*100)).toFixed(0)}}% OFF</ion-badge>
            -->
                <div style="width:100%;  float:left; margin-top:0px; margin-bottom:18px; position: relative; overflow: visible; " > 
                <img src="{{img}}"  />
            
            
              </div>
                <ion-card-content>
                  <ion-buttons >
                    <ion-icon class="heart" ios="ios-heart-outline" md="md-heart-outline">

                    </ion-icon>
                  </ion-buttons>

                  <!-- <ion-buttons   class="carts">
                    <ion-icon style="padding: 10%;" ios="ios-cart" md="md-cart"></ion-icon>
                  </ion-buttons> -->


                        <p  text-wrap style=" padding-left:5%; margin-top:65px !important; margin-left:-10px;   font-weight:700;font-size:13.5px;" no-lines>   {{productname.toString().substr(0, 46)}}<span *ngIf=" productname.toString().length>46"> ...</span></p>
                        <br *ngIf=" productname.toString().length<20"/>

                        <a item-end [ngClass]="className"  style="zoom: 3.0; margin-top:-28px; margin-left:28px;" (click)="heart($event)" ></a>
                   
                        <ion-item style="   padding-right:-10%; " no-padding> 
        
                  
                                <p style="font-size:15px; color:rgb(170, 118, 118); font-weight:700;  margin-left:0px; color:black; float:left;"> ₹{{productprice}} <del *ngIf="productprice<=productmrp" style="font-size:13px;  color:rgb(145, 136, 125);"> ₹{{productmrp}}</del></p>
             
     
                          <!--      <ion-icon item-end name="ios-bookmark-outline"></ion-icon>
                          -->

                        </ion-item>
             
            
            
                 
                </ion-card-content>
              </ion-card>

        
        