productforlistings {

    ion-select.myCustomSelect{
        width: 100%;
        max-width: 100%;
      }
      .alert-radio-label {
        white-space: normal!important;
    }
    a,.myheart{
        width: 45px;
        height: 45px;
        position: absolute;
        top: 50%;
        left: 50%;
        background: url('https://files.slack.com/files-pri/TBEV01G0N-FMLMG7143/heart__1_.png') no-repeat;
        background-position: 0 0;
        cursor: pointer;
      }
      
      .add {
        animation: add-to-wishlist 1s steps(22);
        background-position: -1320px 0;
        transition: background 1s steps(22);
      }
      
      .remove {
        background-position: -1680px 0;
        transition: background 1s steps(3);
        animation: remove-from-wishlist 1s steps(3);
      }
      
      @keyframes add-to-wishlist {
        0% {
          background-position: 0 0;
        }
        100% {
          background-position: -1320px 0;
        }
      }
      
      @keyframes remove-from-wishlist {
        0% {
          background-position: -1320px 0;
        }
        100% {
          background-position: -1680px 0;
        }
      }
      .heart{
        font-size: 25px;
        margin-top: 0%;
        margin-left: 85%;
      }
      .carts{
        font-size: 40px;
        position: absolute;
        left: 75%;
        z-index: 99999999;
        margin-top: 80%;
        border-radius: 50%;
        background-color:#fff;
        color: #000;
      }
      .listcard{
        display:inline-block;
         position:relative;
        //  height:340px;
         border-radius: 10px;
         margin: auto;
          margin-left: 10px;
        
        }
}

