<!--
  Generated template for the StoresubscribtionlistbydayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Daily Subscription</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
    <super-tabs scrollTabs selectedTabIndex="{{selected}}" toolbarBackground="servicetabs" >
        <super-tab [root]="forbyday"  [rootParams]="{day : 'sunday'}" title="Sunday"></super-tab>
        <super-tab [root]="forbyday"  [rootParams]="{day : 'monday'}" title="Monday"></super-tab>
        <super-tab [root]="forbyday"  [rootParams]="{day : 'tuesday'}" title="Tuesday"></super-tab>
        <super-tab [root]="forbyday"  [rootParams]="{day : 'wednesday'}" title="Wednesday"></super-tab>
        <super-tab [root]="forbyday"  [rootParams]="{day : 'thursday'}" title="Thursday"></super-tab>
        <super-tab [root]="forbyday"  [rootParams]="{day : 'friday'}" title="Friday"></super-tab>
        <super-tab [root]="forbyday"  [rootParams]="{day : 'saturday'}"  title="Saturday"></super-tab>
      </super-tabs>
</ion-content>
 