<!--
  Generated template for the FoodlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{menuname}}</ion-title>
    <ion-buttons end>
        <ion-toggle *ngIf="foodtype=='veg'" [(ngModel)]="foodtypetoogle" (ionChange)="updatetoall()"></ion-toggle>
        <ion-toggle *ngIf="foodtype=='all'" [(ngModel)]="foodtypetoogle" (ionChange)="updatetoveg()"></ion-toggle> 
      <span style="font-weight:700; color:black;">Veg only </span> 
</ion-buttons>
  </ion-navbar>

</ion-header>

 
<ion-content >

    <super-tabs *ngIf="foodtype=='all'" scrollTabs selectedTabIndex="{{selected}}" toolbarBackground="servicetabs" >

        <super-tab [root]="forfoodlist"  [rootParams]="{menuid : menuid,type:'nonveg'}" title="Non-veg"></super-tab>
        <super-tab [root]="forfoodlist"  [rootParams]="{menuid : menuid,type:'veg'}" title="veg"></super-tab>
    
      </super-tabs>

    <super-tabs *ngIf="foodtype=='veg'" scrollTabs selectedTabIndex="{{selected}}" toolbarBackground="servicetabs" >

        <super-tab [root]="forfoodlist"   [rootParams]="{menuid : menuid,type:'veg'}"></super-tab>
    
      </super-tabs>

        
</ion-content>
