<!--
  Generated template for the MemberintroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Become a Associate</ion-title>
    <ion-buttons end *ngIf="skip=='yes'">
        <button ion-button (click)="startApp()" color="primary">Skip</button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content >

  <div id="my-node" style="padding:0;">
    <img style="margin-bottom:-3.7px" src="assets/associate/img_r1.png"  />
    <img style="margin-bottom:-3.7px" src="assets/associate/img_r2.png"  />
    <img style="margin-bottom:-3.7px" src="assets/associate/img_r3.png"  />
    <img style="margin-bottom:-3.9px" src="assets/associate/img_r4.png"  />
    <img style="margin-bottom:-3.7px" src="assets/associate/img_r5.png"  />
 </div>




 <img src="assets/associate/img_r8.png" />

 <ion-slides #homeslider spaceBetween="10"  slidesPerView="1.3"  centeredSlides loop pager autoplay="5000" speed="1000" style="height:185px; margin-top:10px;" >
    <ion-slide> 
      <ion-card> 
        <img src="assets/associate/img_r9.png" />
      </ion-card>
      </ion-slide>
    <ion-slide> 
      <ion-card> 
        <img src="assets/associate/img_r9.png" />
      </ion-card>
      </ion-slide>
  
  
  </ion-slides>
 


  

 <br>
 <br>
 <br>
 <br>
   </ion-content>

<div #fot>
  <ion-footer  (click)="goregister()"     style="background:limegreen;color:white;display:inline-block;font-size:12px;">
    <ion-item  detail-push style="background:limegreen;color:white;" ><span style="font-size:19px;font-weight:800;margin-bottom:-8px;">
    </span><span item-end style="font-weight:600;font-size:18px;">Proceed </span></ion-item>
    
   </ion-footer>
 
  
   </div>