<ion-header>
    <ion-navbar style="text-align:center;font-size:16px;font-weight:800;">
      
        Address
     
    </ion-navbar>
  </ion-header>
  
  <ion-content  style="background-color:#fff;margin-top:10%;" >
  
    <ion-list mode=md style="margin-left:5%;" *ngIf="loaded=='1'">

      <ion-item mode=md >
        <ion-label mode=md floating>Name</ion-label>
        <ion-input [(ngModel)]="new.name" type="text" required></ion-input>
      </ion-item>
    
      <ion-item mode=md >
        <ion-label mode=md floating>Door No.</ion-label>
        <ion-input [(ngModel)]="new.line1" type="text" required></ion-input>
      </ion-item>
      <ion-item mode=md >
        <ion-label mode=md floating>Block/Street</ion-label>
        <ion-input [(ngModel)]="new.line2" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label mode="md" floating>Appartment</ion-label>
        <ion-select [(ngModel)]="new.appartment" required>
          <div  *ngFor="let x of data.appartments"> 
          <ion-option  value="{{x.id}}" >{{x.name}}</ion-option>
          
          </div>
        </ion-select>
      </ion-item>
    </ion-list>
  
    <div >
      <button  (click)="postnewaddress()" style=" position:fixed; bottom:-0.6%; " ion-button full>Continue</button>
   </div>
   </ion-content>