<!--
  Generated template for the OrdersPage page.
 
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
 
  <ion-navbar >
    <ion-title *ngIf="loaded=='1'"> {{datum.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content #container>
   
  <basketloader  *ngIf="loaded=='0'"> </basketloader>
    <div *ngIf="loaded=='1'"> 
        <!-- <ion-item no-lines > 
          <p style="font-size:12px; color:black"> <ion-icon ios="ios-archive-outline" md="ios-archive-outline"></ion-icon>&nbsp;FARM Life Retail</p>
          <p style="font-size:10px;">  <ion-icon name="basket"></ion-icon> &nbsp; 100% Organic</p>
</ion-item >  -->
       
<div >
        <ion-slides  style="height:39%;" class="detailslide">
          <ion-slide style="align-content: center;"  [ngStyle]="{ 'background-image': 'url(https://assets.myntassets.com/h_720,q_90,w_540/v1/assets/images/10019731/2019/6/18/255d1292-6c07-4626-a3d7-bc5df018a28e1560859930499-Carlton-London-Women-Red-Solid-Top-1141560859929265-1.jpg)'} " style="background-size: cover;" >
            <img style="height:400px; width: 100%;"[defaultImage]="" [lazyLoad]=""   [offset]="100">

          </ion-slide>
         
        </ion-slides>
       
       
     
    
<ion-card class="detail">
  
        <ion-item text-wrap style=" padding-left:5%;font-weight:600;font-size:16px; margin-bottom: -13px;" no-lines> {{dataname}}</ion-item>

        <ion-item style=" padding-left:5px; margin-bottom: -15px;" lines> 
          
            <div style=" padding-left:15px; "> 
              <p style="font-size:18px; color:rgb(170, 118, 118);   float:left; font-weight: 700;"> Rs-{{productprice}}<del *ngIf="productprice<productmrp" style="font-size:13px;  color:rgb(145, 136, 125);"> {{productmrp}}</del></p>
  
            </div>
  
   <!-- <div (click)="nothing($event)"  style=" float:right;  position:relative;  right:0%;"> 
  
   <button *ngIf="count>0" style="margin:0px; font-size:15px; font-weight:800;" (click)="sub($event)"  ion-button small color="appcolor">-</button>
   <button *ngIf="count==0" style="margin:-10px; font-size:15px; font-weight:800;  width:72px;" (click)="add($event)" ion-button small color="appcolor">ADD</button>
  
   <button (click)="nothing($event)"  *ngIf="count>0" style="margin:0px; font-size:15px; font-weight:800;  background-color:rgba(255, 255, 255, 0);" ion-button small><div style="color:black; font-weight:900;">{{count}} </div></button>
   <button style="margin:0px; font-size:15px; font-weight:800;" (click)="add($event)" ion-button small color="appcolor">+</button>
  </div> -->
  
  </ion-item>
                    
  <ion-item>  
           <div style="zoom:0.8; ">  
              <button style="font-weight:900;"  *ngIf="(100-((productprice/productmrp)*100)).toFixed(0)>0" ion-button small outline><span style="font-weight:900">{{(100-((productprice/productmrp)*100)).toFixed(0)}}% OFF </span></button>
           </div>  
 

 <!-- <div *ngIf="variants!='no'">
  <button  (click)="openSelect()" style="margin-top:-25px; float:right;  position:relative;  right:0%; " ion-button  outline  color="dark">{{productunit}} &nbsp;  <ion-icon name="arrow-down"></ion-icon>      </button>
 
  </div> -->
  
</ion-item>




      
<ion-list-header  *ngIf="data.pid=='2527'" >
  Items in the combo
</ion-list-header>


<ion-list style="margin-bottom:-10px;" *ngIf="combo=='yes'">
    <ion-item *ngFor="let x of combodata;">
      <ion-thumbnail item-start>
        <img  [defaultImage]="'assets/placeholders/product.png'" [lazyLoad]="x.imagelow"   [offset]="100" [scrollObservable]="container.ionScroll" />

      </ion-thumbnail>
      <p text-wrap >{{x.name}}</p>
      <p text-wrap >{{x.tamil}} </p>
      <p item-end> {{x.combounit}}</p>

    </ion-item>


    
  </ion-list>

<ion-item *ngIf="data.subscription=='yes'" text-wrap style=" padding-left:5%;font-weight:300;font-size:14px;" lines> 
  <p style="font-weight:400;color:black">Subscribe</p>
 
<p style="font-size:12px; font-weight:500;">Subscribe for your daily and Weekly needs. 
</p>
<div (click)="nothing($event)"  style=" float:right;  position:relative;  right:0%;"> 

  <button style=" width:132px; font-size:15px; font-weight:800;" (click)="subscription($event)" ion-button small color="appcolor">Subscribe  &nbsp;&nbsp;  <ion-icon  style="zoom:1.4;" name="md-repeat"></ion-icon>
  </button>
 
 </div>


</ion-item>
<ion-item text-wrap style=" padding-left:5%;font-weight:300;font-size:14px; height:100px;" nlines  *ngIf="data.pid!='2527'"> 
  <p style="font-weight:600;color:black ;font-size: 20px;">Unit</p>
 
<p style="font-size:16px; font-weight:500;">{{data.finalunit}}</p>



</ion-item>

        <ion-item *ngIf="data.propertyvalue" text-wrap style=" padding-left:5%;font-weight:300;font-size:14px;" lines> 
          <p style="font-weight:400;color:black">Highlights</p>
         
 <p style="font-size:12px; font-weight:500;">{{data.propertyvalue}}
</p>
           
    
        </ion-item>
      
          <ion-item text-wrap style=" padding-left:5%;font-weight:300;font-size:14px; margin-bottom: -10px;" lines> 
              <p style="font-weight:600;color:black; font-size: 14px;">Description</p>
             
     <p style="font-size:12px; font-weight:500;">{{data.description}}</p>
               
        
            </ion-item>
            
        <ion-item text-wrap style=" padding-left:5%;font-weight:300;font-size:14px; margin-bottom: -10px;" lines> 
            <p style="font-weight:400;color:black">Disclaimer</p>
           
   <p style="font-size:12px; font-weight:500;">Every effort is made to maintain accuracy of all information. However, actual product packaging and materials may contain more and/or different information. It is recommended not to solely rely on the information presented.</p>
             
      
          </ion-item>

    
     
<!-- <ion-item style="display:inline-block; width:0px;"> 
  <ion-select  [(ngModel)]="vari"  #mySelect>
  <div  *ngIf="optionsloaded=='1'">
    <div *ngFor="let x of variantsproduct.variants" > 
  <ion-option value="{{x.pid}}" (ionSelect)="changevariant(x.pid)" >{{x.finalunit}}</ion-option>
  
  
    </div>
  
  
  </div>
  
  </ion-select>
  </ion-item> -->
    <!-- <div style="background-color:#c0c2c6; ">
      <ion-buttons   class="carts">
          <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
          </ion-buttons> 
      <ion-buttons   class="hearts">
          <ion-icon ios="ios-heart-outline" md="md-heart-outline"></ion-icon>
          </ion-buttons> 
             <div (click)="nothing($event)"  style=" float:right;  position:relative;  right:0%;"> 
    
                <button *ngIf="count>0" style="margin:0px; font-size:15px; font-weight:800;" (click)="sub($event)"  ion-button small color="appcolor">-</button>
                <button *ngIf="count==0" style="margin:-10px; font-size:15px; font-weight:800;  width:72px;" (click)="add($event)" ion-button small color="appcolor">ADD</button>
              
                <button (click)="nothing($event)"  *ngIf="count>0" style="margin:0px; font-size:15px; font-weight:800;  background-color:rgba(255, 255, 255, 0);" ion-button small><div style="color:black; font-weight:900;">{{count}} </div></button>
                <button style="margin:0px; font-size:15px; font-weight:800;" (click)="add($event)" ion-button small color="appcolor">+</button>
              </div>  
  </div> -->

</ion-card>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

      
</div>
</div>

</ion-content>
<taps>
  
</taps>
<!-- <storefooter></storefooter>  -->
