<ion-list (click)="gotoproductdetails(productid)" > 
        <ion-item style="margin-bottom:-45px; margin-right:0px; "   >
                    <ion-thumbnail item-start>
                <img  style=" zoom:1.5;" [defaultImage]="'assets/placeholders/product.png'" [lazyLoad]="img"   [offset]="100" [scrollObservable]="container.ionScroll" />

              </ion-thumbnail>
             
         
            
                            <button style=" width:120px; zoom:0.5; font-size:20px; font-weight:800;"  *ngIf="(100-((productprice/productmrp)*100)).toFixed(0)>0" (click)="subscription($event)" ion-button small  outline   color="dark">{{(100-((productprice/productmrp)*100)).toFixed(0)}}% OFF 
                            </button>
                           
                        
                    
              <p text-wrap style="color:black;  padding:0%;">  {{productname}}</p>
              <p text-wrap style=" padding:0%; ">{{productunit}}</p>
              <div *ngIf="variants!='no'">
              <button  (click)="openSelect()" style="margin-top:-30px;" ion-button  outline  color="dark">{{productunit}} &nbsp;  <ion-icon name="arrow-down"></ion-icon>      </button>
              <ion-item style="display:inline-block; width:0px;"> 
              <ion-select  [(ngModel)]="vari"  #mySelect>
                  <div  *ngIf="optionsloaded=='1'">
                      <div *ngFor="let x of product.variants" > 
                  <ion-option value="{{x.pid}}" (ionSelect)="changevariant(x.pid)" >{{x.finalunit}}</ion-option>
        
        
                      </div>
        
        
                  </div>
        
                </ion-select>
              </ion-item>
             </div>
            <ion-item style="   padding-right:-10%; " no-padding> 
        
                  
                           <p style="font-size:15px; color:rgb(170, 118, 118); font-weight:700;  margin-left:0px; color:black; float:left;"> ₹{{productprice}} <del *ngIf="productprice<=productmrp" style="font-size:13px;  color:rgb(145, 136, 125);"> ₹{{productmrp}}</del></p>
        

                           <div item-end  (click)="nothing($event)"  style=" float:right;  margin-right:0px; "> 
    
                                <button (click)="subscription()"  style="  font-weight:700; font-size:12px; margin-left:-8px; width:108px;" (click)="add($event)" ion-button small color="dark">Subscribe</button>
      
                 
          
          </div>
            </ion-item>
         
        
            </ion-item>
        
        </ion-list>
        
        