<!--
  Generated template for the HoteldetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>hoteldetails</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <panloader  *ngIf="loaded=='0'"> </panloader>
      
          <super-tabs *ngIf="loaded=='1'"  scrollTabs  toolbarBackground="servicetabs">
              <super-tab [root]="hotelmenubycategory" [rootParams]="{subcategoryid : 1}" title="all foods "></super-tab>
              <super-tab [root]="hotelmenu"  [rootParams]="{subcategoryid : 1}" title="Starters"></super-tab>
              <super-tab [root]="hotelmenu"  [rootParams]="{subcategoryid : 1}" title="Vegtarian"></super-tab>
              <super-tab [root]="hotelmenu"  [rootParams]="{subcategoryid : 1}" title="Non veg"></super-tab>
     </super-tabs>
     
    
</ion-content>
