


<ion-content >
    <super-tabs scrollTabs selectedTabIndex="0" tabsPlacement="top" toolbarBackground="servicetabs" >
        <super-tab [root]="refer"   title="refer"></super-tab>
        <super-tab [root]="report"  title="Report"></super-tab>
       
      </super-tabs>
</ion-content>
 