<!-- Generated template for the MmsubcategoryComponent component -->
<ion-content>
    <div>
      <ion-card class="categorytwo" *ngFor="let arr of category"  (click)="subcategory()" style=" height: 200px;  background-size:cover; "  [ngStyle]="{ 'background-image': 'url(' + arr.imagethree + ')'} ">
           <!-- <p style=" position: absolute; margin-top: 65%; margin-left: 5%; color: #fff; font-size: 17px; font-weight: 600;">{{arr.price}}</p> -->
           <!-- <p style=" position: absolute; margin-top: 75%; margin-left: 5%; color: #fff; font-size: 17px; font-weight: 600;">{{arr.nameone}}</p> -->
      </ion-card>
  
  </div>
    
  </ion-content>